div{
  display: inline;
}
#prodavnice{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 0% 5%;
  width: 90%;

}
.mali_prod{
  border: 1px solid black;
  border-radius: 10px;
  padding: 3%;
  margin: 2%;
  width: 90%;
  background-color: #b1e2f8;


}
#recenzijeProdavnice{
  width: 90%;
  margin: 2% 5%;
  margin-bottom: 3%;
  padding: 2%;
  background-color: #dcdada;
  border: 2px solid black;
  text-align: center;
}
#textarea-komentar{
  width: 50%;
}
#postavi-komentar{
  display: block;
  width: 20%;
  margin: 1% 40%;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 20px;
}






select,option{
  width: 20%;
}
h2,h3,h4,h5,h6{
  text-align: center;
}
.komentari{
  display: inline;
  border: 1px solid #14c0ff;
  padding: 1%;
  margin:1%;

  width:98%;
}

#zakomm,zakomm1{

  width: 90%;
  margin: 2% 5%;
  margin-top: 0;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #e2f2f8;
  margin-bottom: 10%;
}
.ocjena{
  margin: 5px;
  padding: 1%;
  border-radius: 10px;
  border:0;
  background-color: #c4c2c2;
}
.ocjena1{
  margin: 5%;
  padding: 2%;
  color:gray;
}
.ocjena:hover{
  color:white;
  background-color: black;
  font-size: medium;
}
.ocjena:disabled{
  background-color: #e3e2e2;
  color: #d2d0d0;
}
#textarea-komentar{
  width: 50%;
}
#postaviKomentar{
  background-color: dodgerblue;
  color:white;
  border-radius: 10px;
  width:65%;
  margin: 0 17%;
}
#postaviKomentar:hover{
  background-color: darkblue;
  color:white;
}
#filterPoProdavniciKomentari{
  width: 15%;
  padding: 10px;
}
#filterPoProdavnici{

  margin-left:80%;

  width: 10%;
  background-color: red;
}


#probaDiva,#probaDiva1,#probaDiva2,#probaDiva3 {
  width: 100%;
  height: available;
  background: rgba(192, 192, 192, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
}
#poruka,#poruka1,#poruka2,#poruka3{
  width:35%;
  padding: 2%;
  background-color:white;
  /*opacity: 100%;*/
  margin: 15% 35%;
  position: absolute;
  text-align: center;
  border:1px solid black;
  /* transform: translate(-50%,-50%);*/
}
.dugmeDelete{
  margin: 1%;
  padding: 1% 8%;
  background-color: #b6b6b7;
  cursor:pointer;
}
.labelDugme,#labelDugme,#labelDugme1{
  cursor: pointer;
}
#dugme2,#dugme21,#dugme23,#dugme211{
  background-color: black;
  color:white;
  border: none;
  border-radius: 2px;
}





