<h3 style="margin: 3%">Prodavnice</h3>
<h5>Pogledajte sve naše poslovnice.</h5>

<div id="prodavnice">
  <div *ngFor="let p of getProdavnice()" class="mali_prod">
    <h3>{{p.naziv}}</h3>
    <h5>{{p.adresa}}</h5>
    <h5>{{p.brojTelefona}}</h5>
    <button (click)="dodaj_komentar()" style="width: 85%;margin: 0% 7%">Dodaj komentar</button>
  </div>
</div>

<h2>Pogledajte komentare naših korisnika.</h2>


<div id="zakomm">
  <div *ngFor="let s of pregledKomentara()" class="komentari">

    <label>{{s.kupac}}</label>
    <br>
    <h5>{{s.opis}}</h5>
    <br>
    <label>{{s.prodavnica}}</label>

  </div>
</div>

<div style="background-color: red; width: 100%">
  <h3 style="text-align: left">Dodajte komentar</h3>
  <form id="komm" >
    <textarea ></textarea>
    <br>
    <button>Postavi komentar</button>

  </form>
</div>







