<!--<img src="assets/slike/copy.jpg" style="width: 100%;">-->

<!--
<div id="pocetna">
  <img src="assets/slike/zene.png">
  <img src="assets/slike/muskarci.png">
</div>
-->

<div>
  <div class="velikiDiv" *ngIf="potvrda==false;">
    <div class="jednaSlikaDiv" (click)="prikaziZene()"><img src="assets/slike/woman_clothes.jpg" class="slikaNaPocetnoj"></div>
    <div class="jednaSlikaDiv" (click)="prikaziMuskarce()"><img src="assets/slike/man_clothes.jpg" class="slikaNaPocetnoj">
    </div>
  </div>
</div>




