nav{
  background-color: white;
  padding: 0%;
}
/*
#navbarNavDropdown{
  width:50%;
  background-color: white;
}

.navbar-nav{
  margin-left:75%;
  padding:1%;
}*/


#navbarNavDropdown{
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}

.container-fluid{
  background-color: white;
}

.navbar-nav{
  margin-left:20%;
  padding:0%;
}

a{
  color:black;
}

a:hover{
  color: rgba(0, 0, 0, 0.55);
/*  opacity: 70%;
  font-size: larger;*/
  cursor: pointer;
}

a:visited{
  color: black;
}
