<app-nav-kupac *ngIf="loginInfo().isLogiran==true"></app-nav-kupac>


<h4 id="ZenskiOdjelNaslov">Ženski odjel</h4>
<h3 style="margin: 1%">Proizvodi</h3>
<div *ngIf="loginInfo().isLogiran==true"><label >KUPAC ID: {{loginInfo().autentifikacijaToken.korisnickiNalogId}}</label></div>

<div id="sve">
  <div id="filteri">
    <div *ngFor="let k of getKategorijeZene()">
      <li style="background-color: #2ecc71">{{k.naziv}}</li>
      <div *ngFor="let p of getPodKategorijeZene(k.id)">
        <li>{{p.naziv}}</li>
      </div>

    </div>
  </div>
  <div id="zeneProizvodi">
    <div *ngFor="let p of getZProizvodi()" class="proizvodJedan" >
      <div (click)="prikaziDetaljeProizvoda(p.id)" style="cursor: pointer;">
        <div class="zaSliku" >
          <img src="assets/slike/suit.png" style="width: 100%">
          </div>

        <div class="tekst" >
          <h3>{{p.naziv}}</h3>
          <h5>{{p.cijena}} KM</h5>
        </div>


      </div>
      <!--<div class="dugmad">
        <button class="dodajUKorpu" *ngIf="loginInfo().isLogiran==true" (click)="dodajUKorpu(p.id)">Dodaj u korpu</button>
        <button class="dodajUFavorite" (click)="dodajUFavorite(p.id)" *ngIf="loginInfo().isLogiran==true">
          <img src="assets/slike/heart_f.png" class="slikasrce" >
        </button>
      </div>
      -->
    </div>
  </div>
</div>

