#zeneProizvodi{

  width:75%;

  padding:0% 2%;
  display: grid;
  grid-template-columns: auto auto auto;
}
.proizvodJedan{

  display: inline;
  width: 80%;
border: 1px solid gray;
  margin: 2%;
 }
#filteri{
  width: 25%;
padding: 1%;
}
#ZenskiOdjelNaslov{
  margin: 1%;
}
.dodajUFavorite{
  width: 15%;
}
.dugmad{
  background-color: firebrick;
  display: flex;
  width: 95%;
  margin: 1% 2%;
}
#porukaFavDodano{
  color: green;

}
#porukaDiv,#porukaDiv1{
  width: 45%;
  float: right;
}
.slikasrce{
width: 20px;
  padding: 1%;
}
li{
  list-style: none;
}
#sve{
  display: flex;
}
.zaSliku{
  width: 100%;

  border: 1px black solid;
  position: relative;
}
.dodajUKorpu{
  width: 85%;
  background-color: black;
  color:white;

}
.tekst{
text-align: center;
}
.favorit{
  width: 50px;
  position: absolute;
top:3%;
  right: 3%;
}
#zeneProizvodi{


}
#mojDiv{
  height: fit-content;
  background-color: lightskyblue;
  display: grid;
  grid-template-columns: auto auto auto;
}
.slikaSpecijalne{
  background-color: #28a745;
}
.opisSpecijalne{
  background-color: lightpink;
}
.jednaSpecijalna{
background-color: gold;
  display: flex;
  width: 80%;
}
