<app-nav-kupac *ngIf="loginInfo().isLogiran==true"></app-nav-kupac>





<!--
<div *ngFor="let color of colors">
  <input type="checkbox" name="color-{{color.naziv}}" id="color-{{color.naziv}}" [value]="color.naziv" [(ngModel)]="selectedColors">
  <label for="color-{{color.naziv}}">{{color.naziv}}</label>
</div>
-->


























<!--
<h4 id="ZenskiOdjelNaslov">Ženski odjel</h4>

<h3 style="margin: 1%">Proizvodi</h3>
<div *ngIf="loginInfo().isLogiran==true"><label >KUPAC ID: {{loginInfo().autentifikacijaToken.korisnickiNalogId}}</label></div>
-->

<div style="background-color: #ffffff;" id="kategorijeMeni" *ngIf="odabranaKategorija==false;">

    <div  class="divZaJednu" >
     <!-- <button class="kategorije" (click)="idkategorije=''">{{sveKategorije.toUpperCase(sveKategorije)}}</button>-->

      <button class="kategorije" (click)="idkategorije=k.id;odabranaKategorija=true;prikaziPodkategorije();" *ngFor="let k of kategorijePodaci">{{k.naziv.toUpperCase(k.naziv)}}</button>
    </div>


</div>

<div style="background-color: #ffffff;" id="podKategorijeMeni" *ngIf="odabranaKategorija==true;">

  <div  class="divZaJednu" >
    <button class="kategorije" (click)="odabranaKategorija=true;idPodkategorije='';prikaziPodkategorije()">{{svePodkategorije.toUpperCase(svePodkategorije)}}</button>

    <button class="kategorije" [ngClass]="{'active': p.id === idPodkategorije}"
            (click)="idPodkategorije=p.id;odabranaKategorija=true;" *ngFor="let p of PodkategorijePodaci">{{p.naziv.toUpperCase(p.naziv)}}</button>

  </div>


</div>




<div id="sve">

  <div id="filteriSvi">
    <button (click)="ponistiFiltere()" id="ponistiFiltere">Poništi filtere</button>
    <p>Pretraga po nazivu:</p>
    <input type="text" [(ngModel)]="pretragaPoNazivu" (input)="getZProizvodi()" placeholder="Upisite naziv...">
    <div  id="divBojeFilter">
      <p>Odaberite boju:</p>
      <label *ngFor="let color of colors" style="display: block;">
        <input type="checkbox" [value]="color.naziv" [checked]="color.checked" (change)="updateSelectedColors($event, color.naziv)">
        {{color.naziv}}
      </label>
    </div>

    <div  id="divKolekcijeFilter">
     <!-- <label *ngFor="let kolekcija of kolekcijePodaci" style="display: block;">
        <input type="checkbox" [value]="kolekcija.naziv" [checked]="selectedCollection == kolekcija.naziv" [(ngModel)]="selectedCollection" (change)="updateSelectedCollection(kolekcija.naziv)">
        {{ kolekcija.naziv }}
      </label>
--><p>Odaberite kolekciju:</p>
      <label *ngFor="let kolekcija of kolekcijePodaci" style="display: block;">
        <button  (click)="updateSelectedCollection(kolekcija.naziv)" class="dugmad_kolekcije"
                 [ngClass]="{'clicked': kolekcija.naziv === odabranaKolekcija}">
        {{ kolekcija.naziv }}
        </button>
      </label>

    </div>

    <div style="display: flex;" id="divCijeneFilter1" >

<div style="width: 50%">
  <label for="minPrice">Min cijena: </label><br>
  <label for="maxPrice">Max cijena: </label>
</div>
     <div style="width: 40%;margin-right: 5%">
       <input type="number" id="minPrice" [(ngModel)]="minPrice" class="od_do" (input)="getZProizvodi()">
       <br>
       <input type="number" id="maxPrice" [(ngModel)]="maxPrice" class="od_do" (input)="getZProizvodi()">
     </div>





      <!--<button (click)="getZProizvodi()">Osvjezi rezultate</button>-->
    </div>
    <div style="display: block">
      <p *ngIf="minPrice>0 && maxPrice==0" class="error_poruka">
        Molimo unesite gornju granicu.</p>
      <p *ngIf="minPrice > 0 && maxPrice > 0 && minPrice > maxPrice"class="error_poruka">
        Donja granica treba biti manja od gornje granice.</p>

    </div>



  </div>





  <div id="zeneProizvodi">
    <div *ngFor="let p of getZProizvodi()" class="proizvodJedan" >
      <div (click)="prikaziDetaljeProizvoda(p.id)" style="cursor: pointer;">
        <div class="zaSliku" >
          <img src="assets/slike/suit.png" style="width: 100%">
          </div>

        <div class="tekst" >
          <h5>{{p.naziv}}</h5>
          <h6>{{p.cijena}} KM</h6>
        </div>


      </div>

    </div>
  </div>

</div>



<div *ngIf="prikaziDiv==true" id="probaDiva" >

  <div id="poruka">

    <h4 style="margin: 3% 0%">Filteri</h4>

    <div style="background-color: yellowgreen; display: flex;">

        <div style="background-color: gold" id="divBojeFilter1">
          <label *ngFor="let color of colors" style="display: block;">
            <input type="checkbox" [value]="color.naziv" (change)="updateSelectedColors($event, color.naziv)">
            {{color.naziv}}
          </label>
        </div>
      <div style="background-color: #62383e" id="divSezoneFilter1">
        <label *ngFor="let s of sezonePodaci" class="boje">
          <input type="checkbox"> {{s.naziv.toUpperCase(s.naziv)}} <br>
        </label>

      </div>

     <!-- <div style="background-color: violet;" id="divCijeneFilter">
        <label for="price-range1">Raspon cijena: </label>
       <span> {{minPrice}}</span> <span> - {{maxPrice}}</span>
        <br>
       <span>Odabrana cijena: {{selectedPriceRange}}</span>
        <input type="range" id="price-range2" min="0" max="{{maxPrice}}"
               (input)="updateSelectedPriceRange($event)"
               [(ngModel)]="selectedPriceRange" value="{{maxPrice/2}}" (change)="getZProizvodi()">

        <input type="number" placeholder="OD">
        <input type="number" placeholder="DO">


      </div>

-->
    </div>
    <button id="dugme1" (click)="skloniDiv()" class="dugmeDelete" >
      <label style="font-size: larger;" class="labelDugme">Nazad</label></button>

  </div>
</div>




