<app-navbar-admin></app-navbar-admin>

<br>
<div class="sredina">

  <div class="dodaj-sezonu">
    <!--     <h3 class="naslov-sezona">Dodaj sezonu:</h3> <br>
     <h5>Upiši naziv sezone: <input type="text" [(ngModel)]="obj_sezona.naziv"> </h5>
       <h5>Upiši doba: <input type="text" [(ngModel)]="obj_sezona.doba"> </h5>
       <h5>Upiši godinu: <input type="text" [(ngModel)]="obj_sezona.godina"></h5>

       <button class="submit-sez" (click)="spasi_sezonu()">Spasi</button>
       -->
    <button class="btn-dodajsezonu" (click)="dodajSezonu()">Dodaj sezonu</button>
  </div>


  <div class="dodaj-kolekciju">
<!--    <h3 class="naslov-kolekcija">Dodaj kolekciju:</h3> <br>

    <h5>Odaberi sezonu:</h5>
    <div class="dropdown">
      <select class="form-control" [(ngModel)]="obj_kolekcija.sezonaId" (click)="getSezone();">
        <option *ngFor="let s of sezone" [value]="s.id">{{s.naziv}}</option>
      </select>
    </div>


    <h5>Upiši naziv kolekcije: <input type="text" [(ngModel)]="obj_kolekcija.naziv"> </h5>
    <h5>Upiši godinu: <input type="text" [(ngModel)]="obj_kolekcija.godina"> </h5>
    <button class="submit-kol" (click)="spasi_kolekciju()">Spasi</button>

    -->

    <button class="btn-dodajkolekciju" (click)="dodajKolekciju()">Dodaj kolekciju</button>
  </div>

</div>

<br>

<div class="tabela">

  <h6>Kolekcije</h6>
  <br>

  <div class="pretragaIselect">
    <div class="pretraga">
      <input class="inp-pretraga" [(ngModel)]="filter_kolekcija"> <img src="assets/slike/search.svg" style="'width':'50px','height':'50px'"
                                        class="img-pretraga">
    </div>

    <div class="aktivne-kolekcije">
      <select [(ngModel)]="select_aktivne">
        <option>Aktivne</option>
        <option>Neaktivne</option>
        <option>Sve</option>
      </select>
    </div>
  </div>

  <br>

  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Naziv kolekcije</th>
      <th>Aktivna?</th>
      <th>Naziv sezone</th>
      <th></th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let k of getFilterKolekcijeAktivnost() | paginate:
   {
        id:'pag1',
        itemsPerPage: 10,
        currentPage:page1,
        totalItems:totalLength1
        } ">
      <td>{{k.id}}</td>
      <td>{{k.naziv}}</td>
      <td>{{k.aktivna?"Aktivna":"Neaktivna"}}</td>
      <td>{{k.sezonaOpis}}</td>
      <td><img src="assets/slike/pencil-square.svg" (click)="editKolekcija(k)"></td>
      <td><img src="assets/slike/x-square.svg" (click)="kliknuoObrisi=true; objekat_za_obrisati=k; jelKolekcija=true;"></td>
    </tr>
    </tbody>
  </table>

  <br>

  <pagination-controls id="pag1" class="text-center my-pagination" (pageChange)="page1=$event"></pagination-controls>


</div>

<br>

<div class="tabela2">

  <h6>Sezone</h6>
  <br>


  <div class="pretraga">
    <input class="inp-pretraga" [(ngModel)]="filter_sezona"> <img src="assets/slike/search.svg" style="'width':'50px','height':'50px'"
                                      class="img-pretraga">
  </div>

  <br>


  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Naziv sezone</th>
      <th>Doba</th>
      <th>Godina</th>
      <th>Aktivna?</th>
      <th></th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of getFilterSezone() | paginate:
   {
        id:'pag2',
        itemsPerPage: 10,
        currentPage:page2,
        totalItems:totalLength2
        } ">
      <td>{{s.id}}</td>
      <td>{{s.naziv}}</td>
      <td>{{s.doba}}</td>
      <td>{{s.godina}}</td>
      <td>{{s.aktivna?"Aktivna":"Neaktivna"}}</td>
      <td><img src="assets/slike/pencil-square.svg" (click)="editSezona(s)"></td>
      <td><img src="assets/slike/x-square.svg" (click)="kliknuoObrisi=true; objekat_za_obrisati=s; jelSezona=true;"></td>
    </tr>
    </tbody>
  </table>

  <br>

  <pagination-controls id="pag2" class="text-center my-pagination" (pageChange)="page2=$event"></pagination-controls>

</div>


<div *ngIf="kliknuoObrisi==true && jelKolekcija" class="obrisi">
  <div class="sadrzaj">
    <img class="slika-warning" src="assets/slike/warning.png">
    <p class="poruka-delete">Brisanjem ovog zapisa, brišete sve proizvode koje koriste ovaj zapis.
      Savjetujemo Vam da umjesto brisanja izvršite modifikaciju zapisa. Ako ste sigurni da želite
      obrisati, molimo Vas da potvrdite sa Da.</p>
    <div class="dugmad">
      <button class="dugme-ne" (click)="kliknuoObrisi=false; jelSezona=false; jelKolekcija=false;">Ne</button>
      <button class="dugme-da" (click)="deleteKolekcija(objekat_za_obrisati)">Da</button>
    </div>
  </div>
</div>


<div *ngIf="kliknuoObrisi==true && jelSezona" class="obrisi">
  <div class="sadrzaj">
    <img class="slika-warning" src="assets/slike/warning.png">
    <p class="poruka-delete">Brisanjem ovog zapisa, brišete sve kolekcije i proizvode koje koriste ovaj zapis.
      Savjetujemo Vam da umjesto brisanja izvršite modifikaciju zapisa. Ako ste sigurni da želite
      obrisati, molimo Vas da potvrdite sa Da.</p>
    <div class="dugmad">
      <button class="dugme-ne" (click)="kliknuoObrisi=false; jelSezona=false; jelKolekcija=false;">Ne</button>
      <button class="dugme-da" (click)="deleteSezona(objekat_za_obrisati)">Da</button>
    </div>
  </div>
</div>





<div *ngIf="obj_sezona!=null" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel" > {{naslov}} </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="obj_sezona=null; getSezone();"></button>
      </div>
      <div class="modal-body">



        <div class="mb-3" [class.has-error]="(nazivControll.invalid && nazivControll.touched) || postojiIstaSezona(nazivControll.value)">
          <label class="form-label">Naziv:</label>
          <input type="text" required pattern="^[a-zA-Z\d\s/]{3,}$"
                 minlength="3" #nazivControll="ngModel" class="form-control" placeholder="Naziv" [(ngModel)]="obj_sezona.naziv" >

          <span class="help-block" *ngIf="nazivControll.invalid && nazivControll.touched">
            Ovo polje je obavezno. Najmanje 3 karaktera. Bez dijakritičkih znakova.
          </span>

          <span class="help-block" *ngIf="postojiIstaSezona(nazivControll.value)">
            Ne smijete dodavati naziv koji već postoji.
          </span>
        </div>


        <div class="mb-3" [class.has-error]="dobaControll.invalid && dobaControll.touched">
          <label class="form-label">Doba:</label>
          <input type="text" required pattern="^[A-Z][a-zA-Z\s]*-?[a-zA-Z\s]*$"
                 minlength="3" #dobaControll="ngModel" class="form-control" placeholder="Ljeto" [(ngModel)]="obj_sezona.doba">

          <span class="help-block" *ngIf="dobaControll.invalid && dobaControll.touched">
             Ovo polje je obavezno i mora imati najmanje 3 karaktera (ne uključujući brojeve). Prvo slovo mora biti veliko. Bez dijakritičkih znakova.
          </span>
        </div>

        <div class="mb-3" [class.has-error]="godinaControll.invalid && godinaControll.touched">
          <label class="form-label">Godina:</label>
          <input type="text" required pattern="^\d{4}$"
                 minlength="4" #godinaControll="ngModel"
                 class="form-control" placeholder="2020" [(ngModel)]="obj_sezona.godina" >

          <span class="help-block" *ngIf="godinaControll.invalid && godinaControll.touched">
            Ovo polje je obavezno. Može sadržavati samo brojeve.
          </span>
        </div>


        <div class="mb-3">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="obj_sezona.aktivna">
          <label class="form-check-label" for="exampleCheck1" >Aktivna</label>
        </div>


      </div>
      <div class="modal-footer">
        <button [disabled]="!jelOmogucenSaveSezone(nazivControll,dobaControll,godinaControll)" type="button"
                class="btn" (click)="spasi_sezonu()">Spasi promjene</button>
      </div>
    </div>
  </div>
</div>



<div *ngIf="obj_kolekcija!=null" class="modal fade show" id="exampleModalLive1" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel1" > {{naslov}} </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="obj_kolekcija=null; getKolekcije();"></button>
      </div>
      <div class="modal-body">



        <div class="mb-3" [class.has-error]="(nazivControll.invalid && nazivControll.touched) || postojiIstaKolekcija(nazivControll.value)">
          <label class="form-label">Naziv:</label>
          <input type="text" required pattern="^[a-zA-Z\d\s/]{3,}$"
                 minlength="3" #nazivControll="ngModel" class="form-control" placeholder="Naziv" [(ngModel)]="obj_kolekcija.naziv" >

          <span class="help-block" *ngIf="nazivControll.invalid && nazivControll.touched">
            Ovo polje je obavezno. Najmanje 3 karaktera. Bez dijakritičkih znakova.
          </span>

          <span class="help-block" *ngIf="postojiIstaKolekcija(nazivControll.value)">
            Ne smijete dodavati naziv koji već postoji.
          </span>
        </div>



        <div class="mb-3" [class.has-error]="godinaControll.invalid && godinaControll.touched">
          <label class="form-label">Godina:</label>
          <input type="text" required pattern="^\d{4}$"
                 minlength="4" #godinaControll="ngModel"
                 class="form-control" placeholder="2020" [(ngModel)]="obj_kolekcija.godina" >

          <span class="help-block" *ngIf="godinaControll.invalid && godinaControll.touched">
            Ovo polje je obavezno. Može sadržavati samo brojeve.
          </span>
        </div>


        <div class="mb-3" [class.has-error]="sezonaIdControll.invalid && sezonaIdControll.touched">
          <label class="form-label">Sezona:</label>
          <select required #sezonaIdControll="ngModel" class="form-control" [(ngModel)]="obj_kolekcija.sezonaId">
            <option *ngFor="let s of sezone_aktivne" [value]="s.id">{{s.naziv}}</option>
          </select>

          <!-- - {{s.aktivna?"Aktivna":"Neaktivna"}} -->
          <span class="help-block" *ngIf="sezonaIdControll.invalid && sezonaIdControll.touched">
           Ovo polje je obavezno.
          </span>
        </div>

        <div class="mb-3">
          <input type="checkbox" class="form-check-input" id="exampleCheck2" [(ngModel)]="obj_kolekcija.aktivna">
          <label class="form-check-label" for="exampleCheck1" >Aktivna</label>
        </div>

      </div>
      <div class="modal-footer">
        <button [disabled]="!jelOmogucenSaveKolekcije(nazivControll,sezonaIdControll,godinaControll)" type="button"
                class="btn" (click)="spasi_kolekciju()">Spasi promjene</button>
      </div>
    </div>
  </div>
</div>





