.sredina{
  width:90%;
  margin:auto;
  display: flex;
  justify-content: space-between;
  padding:0%;
  gap:3%;
}

.sredina .dodaj-kolekciju input, .dodaj-sezonu input{
  width:100%;
}

.dodaj-kolekciju, .dodaj-sezonu {
  margin:auto;
  width:50%;
}

.dropdown{
  position: static;
}
.dropdown option{
  width:100%;
  color: black;
}

table{
  width:100%;
 /* background-color: blanchedalmond;*/
}

.tabela, .tabela2{
  width:90%;
  margin:auto;
  padding: 1%;
  border:groove;
  border-radius: 30px;
  background-color: blanchedalmond;
}

.naslov-sezona, .naslov-kolekcija{
  background-color: blanchedalmond;
  text-align: center;
  padding:2%;
  border-radius: 10px;
}

.submit-sez, .submit-kol, .btn-dodajsezonu, .btn-dodajkolekciju{
  width:100%;
  border:groove;
  padding:1%;
  background-color: rgba(243,128,91,0.66);
  margin:auto;
  border-radius: 30px;
}

.submit-sez:hover, .submit-kol:hover, .btn-dodajkolekciju:hover, .btn-dodajsezonu:hover{
  opacity:80%;
}

h3{
  color:rgba(0,0,0,0.58)
}

hr{
  width:90%;
  margin: 2% auto 2% auto;
}

.tabela2{
  margin: 0 auto 3% auto;
}

.btn{
  background-color: rgba(243,128,91,0.66);
}

.btn:hover{
  opacity: 80%;
}

img{
  cursor: pointer;
}

.help-block{
  color:red;
}

.my-pagination /deep/ .ngx-pagination .current
{
  background-color: pink;
  border-radius: 30px;
}

.pretraga input{
  background-color: transparent;
  width: 30%;
  border-radius: 10px;
}
