<app-nav-kupac *ngIf="loginInfo().isLogiran==true"></app-nav-kupac>
<h1 *ngIf="loginInfo().isLogiran==false">Košarica</h1>
<div id="naslovKosarice">
  <h2>Košarica</h2>
  <h5>Pogledajte proizvode koje ste dodali u košaricu.</h5>
 <!-- <h4 *ngIf="korpaStavkePodaci!=0">Pogledajte proizvode koje ste dodali u košaricu.</h4>-->
<div *ngIf="korpaStavkePodaci==0">
  <div id="praznaKorpaDiv"><img src="assets/slike/emptycart.png" id="praznaKorpaSlika"> </div>
  <h1  style="margin-top: 3%;margin-bottom: 6%;">Nemate nijedan proizvod u košarici.</h1>
<!--  <label style="font-style: italic">Inspirirajte se i obogatite svoju garderobu.</label>
  <button (click)="vratiNaPocetnu()" id="getInspired"> Pogledaj proizvode</button>-->
</div>

</div>


<!--
kupac id:
{{kupac_id}}
-->
<div id="KosaricacijelaDiv">
  <div id="kosaricaDiv">
    <div *ngFor="let kst of getKorpaStavke()" class="StavkaKosarice">
      <div class="SlikaStavkeKosarice">
       <!-- <img src="assets/slike/dress.png" style="width: 100%;">-->
        <img src="{{get_slika_base64_FS(kst.proizvod)}}" style="width: 100%;" id="slikaProizvodaUKosarici">
      </div>
      <div id="tekstStavkeKorpe">
        <h3>{{kst.proizvodIme}}</h3>
        <h5 >{{kst.cijena}}KM</h5>
        <h6> Kolicina: {{kst.kolicina}}</h6>
        <h6>Velicina: {{kst.velicina}}</h6>
        <div id="upravljanjeStavkama">
          <button (click)="Modifikacija(kst)" id="dugmeModifikuj" >Modifikuj</button>

         <!-- <label (click)="UkloniIzKorpe(kst)" id="ukloniStavkuIzKorpe">Ukloni iz korpe</label>-->
          <img src="assets/slike/trash.png" style="width: 20px" id="ukloniStavkuIzKorpe"  (click)="UkloniIzKorpe(kst)">
        </div>

      </div>

    </div>
  </div>

  <div id="Kupovina" *ngIf="korpaStavkePodaci!=0">
    <h3 style="text-align: center;margin-bottom: 10%" >Ukratko o košarici </h3>
    <div *ngIf="KorpePodaciIme!=undefined">

      <h5 style="margin-bottom: 5%" *ngIf="KorpePodaci!=undefined">Imate ukupno proizvoda: {{this.KorpePodaciIme[0].ukupnoProizvoda}}</h5>
     <!-- <h5 style="margin-bottom: 5%" *ngIf="KorpePodaciIme!=undefined">Imate ukupno proizvoda: {{racun()}}</h5>-->

      <div>
        <h5 style="display: inline;margin-bottom: 5%" *ngIf="KorpePodaci!=undefined">Suma: {{this.KorpePodaciIme[0].total}} KM</h5>
      </div>

    </div>

<button id="kreirajNarudzbu" (click)="KreirajNarudzbu()">Kreiraj narudžbu</button>
    <label style="text-align: center;color:grey">Moguće vratiti u roku od 30 dana.</label>
  </div>

</div>

<!--<div style="background-color: mediumvioletred">
  <li>korpastavke podaci{{korpaStavkePodaci.length}}</li>
  <li>korpapodaci ime{{KorpePodaciIme.length}}</li>
  <li> korpa podatak{{KorpaPodatak.length}}</li>
</div>
-->

<!--<div style="background-color: hotpink">
  <li>Length k: {{KorpePodaci.length}}</li>
  <li>{{KorpePodaci[0].id}}</li>
  <li>Length ks: {{korpaStavkePodaci.length}}</li>
  <li>{{korpaStavkePodaci[0].id}}</li>
  <li>ovo gledaj{{korpaStavkePodaci}}</li>
  <li>Length kime: {{KorpePodaciIme.length}}</li>
  <li>{{KorpePodaciIme[0].id}}</li>
</div>
-->
<div *ngIf="odabranaStavka!=null" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Modifikacija </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="odabranaStavka=null"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Kolicina</label>
          <select class="form-control" [(ngModel)]="odabranaStavka.kolicina" ngOnChanges>
            <option >1</option>
            <option >2</option>
            <option >3</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Velicina</label>
          <select class="form-control" [(ngModel)]="odabranaStavka.velicina">
            <option >XS</option>
            <option >S</option>
            <option >M</option>
            <option >L</option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="odabranaStavka=null">Close</button>
        <button type="button" class="btn btn-primary"  (click)="ModifikacijaKorpaStavke(odabranaStavka)">Save changes</button>
      </div>
    </div>
  </div>

</div>
