<app-nav-kupac></app-nav-kupac>
<div id="naslovKosarice">
  <h2>Košarica</h2>
  <h4 *ngIf="korpaStavkePodaci1!=0">Pogledajte proizvode koje ste dodali u košaricu.</h4>
<div *ngIf="korpaStavkePodaci1==0">
  <h1  style="margin-top: 5%">Nemate nijedan proizvod u košarici.</h1>
  <label style="font-style: italic">Inspirirajte se i obogatite svoju garderobu.</label>
  <button (click)="vratiNaPocetnu()" id="getInspired"> Pogledaj proizvode</button>
</div>

</div>



kupac id:
{{loginInfo().autentifikacijaToken.korisnickiNalogId}}
<div id="KosaricacijelaDiv">
  <div id="kosaricaDiv">
    <div *ngFor="let kst of getKorpaStavke()" class="StavkaKosarice">
      <div class="SlikaStavkeKosarice">
        <img src="assets/slike/dress.png" style="width: 100%;">
      </div>
      <div id="tekstStavkeKorpe">
        <h3>{{kst.proizvodIme}}</h3>
        <h5 >{{kst.cijena}}KM</h5>
        <h6> Kolicina: {{kst.kolicina}}</h6>
        <h6>Velicina: {{kst.velicina}}</h6>
        <div id="upravljanjeStavkama">
          <button (click)="Modifikacija(kst)" id="dugmeModifikuj" >Modifikuj</button>
          <label (click)="UkloniIzKorpe(kst)" id="ukloniStavkuIzKorpe">Ukloni iz korpe</label>
        </div>

      </div>

    </div>
  </div>

  <div id="Kupovina" *ngIf="this.korpaStavkePodaci1!=0">
    <h3 style="text-align: center;margin-bottom: 10%" >Ukratko o košarici </h3>
    <h5 style="margin-bottom: 5%">Imate ukupno proizvoda: {{this.KorpaPodatak[0].ukupnoProizvoda}}</h5>

    <div>
      <h5 style="display: inline;margin-bottom: 5%">Suma: {{this.KorpaPodatak[0].total}} KM</h5>
    </div>
<button id="kreirajNarudzbu" (click)="KreirajNarudzbu()">Kreiraj narudžbu</button>
    <label style="text-align: center;color:grey">Moguće vratiti u roku od 30 dana.</label>
  </div>

</div>



<div *ngIf="odabranaStavka!=null" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Modifikacija </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="odabranaStavka=null"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Kolicina</label>
          <select class="form-control" [(ngModel)]="odabranaStavka.kolicina" ngOnChanges>
            <option >1</option>
            <option >2</option>
            <option >3</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Velicina</label>
          <select class="form-control" [(ngModel)]="odabranaStavka.velicina">
            <option >XS</option>
            <option >S</option>
            <option >M</option>
            <option >L</option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="odabranaStavka=null">Close</button>
        <button type="button" class="btn btn-primary"  (click)="ModifikacijaKorpaStavke(odabranaStavka)">Save changes</button>
      </div>
    </div>
  </div>

</div>
