#KosaricacijelaDiv{
margin: 1% 15%;
  display: flex;

}
#slikaProizvodaUKosarici{
/*width: 200px;*/
  /*height: auto;*/

}
#kosaricaDiv{

  width: 65%;
  margin: 2% 0%;
  padding: 1% ;
  display: table-column;
}
#Kupovina{
  background-color: white;
  border: 1px solid grey;
  width: 35%;
  padding: 1%;
  height: fit-content;
  margin: 5% 2%;
}
#naslovKosarice{
  text-align: center;
  margin-top: 1%;
}
.StavkaKosarice{
 /* border:1px solid gray;
 /* width: 80%;*/
/*display: flex;

  margin: 5%;
  text-align: center;
  height: fit-content;*/
display: grid;
  grid-template-columns: 50% 50%;
  border: 1px solid gray;
  margin: 5%;
/*height: 250px;*/
  text-align: center;
}
.SlikaStavkeKosarice{

width: 100%;
width: fit-content;
height: fit-content;
  margin: auto;
}
#tekstStavkeKorpe{
  width: 100%;
  padding: 2%;
  text-align: center;
  border-left: 1px solid gray;
}
li{
  list-style: none;
}
#ukloniStavkuIzKorpe{
  color: red;
  text-align: right;
  cursor: pointer;
  margin: 1%;
}
#getInspired
{
  background-color: black;
  color: white;
  width: 20%;
  padding: 1%;
  display: block;
  margin: 1% 40%;
}
#dugmeModifikuj{
  display: block;
  width: 65%;
  margin: 3% 17%;
 /* background-color: lightskyblue;*/
}
#kreirajNarudzbu{
  background-color: black;
  color:white;
  width: 100%;
  margin: 10% 0%;
  padding: 5%;
}
#kreirajNarudzbu:hover{
 background-color: rgba(0,0,0,0.75);
}

#upravljanjeStavkama{

  margin-top: 20%;
}
#praznaKorpaDiv{
  width: 15%;
  margin: 1% 42%;
  margin-top: 3%;
}
#praznaKorpaSlika{
  width: 100%;
}
