table{
  border: 1px solid grey;
width: 55%;
  margin: 2% 22%;
}
thead{
  border: 2px  solid grey;
  background-color: black;
  color: white;
}
h2,h6{
  text-align: center;
}
th,td{
  border: 0.5px solid grey;
}
button{
  margin: 10px;
  alignment: center;
  background-color: white;
  padding: 5%;
  border: 1px grey solid;
}

button:hover{
  background-color: black;
  color: white;
}
#zenski{
  background-color: #fad2ef;
}
#muski{
  background-color: #d9ebfa;
}
