<app-nav-kupac></app-nav-kupac>










<!--
<button (click)="getPodatkeZaIzvjestaj();isKiliknuto=true;" *ngIf="isKiliknuto==false;">ovdje</button>

<button (click)="isKiliknuto=false;" *ngIf="isKiliknuto==true;">ovdje</button>
<div style="width: 50%;" *ngIf="isKiliknuto==true;" id="prikazIzvjestajaDiv">
  <h3>Izvještaj o komentarima</h3>
  <canvas id="myChart"></canvas>
</div>

-->








<button (click)="odjaviSe()" id="odjavaButton"> ODJAVI SE</button>



<div class="user-message">
  {{primljenaPoruka}}
</div>





<!--

KUPAC ID: {{kupac_id}}

-->
<!--  [ngStyle]="{'max-width':'auto', 'height':'250px'}"-->
<!--<div>
  <label>dodaj sliku</label>
  <input class="form-control" id="slikaKupca" type="file">
  <img id="slikaPreview" style="width: 100px; height: 100px">
</div>
-->
<!--
<div class="divslika">
  <div class="slika">

    <img style="display:block;max-width: 100%; height: 200px" src="{{get_slika_base64_FS(kupac_podaci[0])}}"
         class="img-profilna">


    <button class="dodaj-sliku" (click)="dodajSliku()">Dodaj novu sliku</button> <br>
    <button class="ukloni-sliku" (click)="ukloniSliku()">Ukloni sliku</button>
  </div>
</div>

-->



<div id="VelikiProfilDiv">
  <div id="stavkeProfila">
    <div id="Korisnik">
      <img src="assets/slike/dress.png" id="SlikaKorisnika">
      <p style="margin: 0;">{{loginInfo().autentifikacijaToken.korisnickiNalog.ime}} {{loginInfo().autentifikacijaToken.korisnickiNalog.prezime}}</p>
    </div>
    <hr>
    <div id="opcije">
      <button class="dugmeProfil" (click)="prikaziPodatke()">Moji podaci</button>
      <hr class="dugmad">
      <button class="dugmeProfil" (click)="prikazNarudzbi()">Moje narudžbe</button>
      <hr class="dugmad">
      <button class="dugmeProfil" (click)="prikazKomm()">Moji komentari</button>
      <hr class="dugmad">
      <button class="dugmeProfil" (click)="prikazOcjene()">Moje ocjene prodavnica</button>
      <hr class="dugmad">
      <button class="dugmeProfil" (click)="prikazOcjeneProizvoda()">Moje ocjene proizvoda</button>
    </div>

  </div>
  <div id="sadrzaj">
    <div id="kupacPodaci" *ngIf="jeLiPodaci==true && prikaziNarudzbe==false && prikazKomentara==false &&
     PrikazOcjena==false && ocjeneProizvodaBool==false;">
      <h6>Ime:</h6>
      <input value=" {{ime}}" disabled class="kupacpodaci">
      <img src="assets/slike/edit1.png" id="editIme"
           (click)="promjenaImena()">
      <h6>Prezime: </h6>
      <input value=" {{prezime}}" disabled class="kupacpodaci">
      <img src="assets/slike/edit1.png" id="editPrezime" (click)="promjenaPrezimena()">
      <h6>Email: </h6>
      <input value=" {{email}}" disabled class="kupacpodaci">

      <h6>Username: </h6>
      <input value=" {{username}}" disabled class="kupacpodaci">
      <h6>Broj telefona: </h6>

      <input value=" {{brojTelefona}}" disabled style="display: inline" class="kupacpodaci">
      <img src="assets/slike/edit1.png" id="AddNumber"
           (click)="brojTelPromjena()">
     <!-- <h6>Datum registracije: </h6>
      <input value=" {{datumRegistracije | date:'dd-MM-yyyy'}}" disabled class="kupacpodaci">
-->
      <h6 *ngIf="isPretplacen==false">Pretplata: Ne </h6>
      <h6 *ngIf="isPretplacen==true">Pretplata: Da</h6>

      <button (click)="promjenaLozinke()" id="promjenaLozinke">Promjeni lozinku</button>

    </div>




      <div id="divTabela4" *ngIf="prikaziNarudzbe==true && prikazPodataka==false && prikazKomentara==false &&
      PrikazOcjena==false && ocjeneProizvodaBool==false;" >
        <table class="table table-primary">
          <thead style="background-color: black;">
          <tr style="background-color: black;">
            <th>Prodavnica</th>
            <th>Datum kreiranja</th>
            <th>Datum preuzimanja</th>
            <th>Total</th>
            <th>Ukupno proizvoda</th>
            <th>Status</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let s of narudzbeKupcaPodaci">
            <td>{{s.prodavnica}}</td>
            <td>{{s.datumKreiranja | date:'dd-MM-yyyy'}}</td>
            <td>{{s.datumPreuzimanja | date:'dd-MM-yyyy'}}</td>
            <td>{{s.total}}</td>
            <td>{{s.ukupnoProizvoda}}</td>
            <td>{{s.status}}</td>


          </tr>
          </tbody>
        </table>

      </div>



      <div id="divTabela" *ngIf="prikazKomentara==true && prikaziNarudzbe==false && prikazPodataka==false &&
       PrikazOcjena==false && ocjeneProizvodaBool==false;" >
        <table class="table table-primary">
          <thead style="background-color: black;">
          <tr style="background-color: black;">
            <th>Opis</th>
            <th>Kupac</th>
            <th>Prodavnica</th>
            <th>Datum</th>
            <th>Modifikacija</th>
            <th>Brisanje</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let s of prikaziMojeKomentare()">
            <td>{{s.opis}}</td>
            <td>{{s.kupac}}</td>
            <td>{{s.prodavnica}}</td>
            <td>{{s.datumKreiranja | date:'dd-MM-yyyy'}}</td>
            <td>
              <button (click)="modifikuj(s)">Modifikacija</button>
            </td>
            <td>
              <button (click)="brisikomm(s)">Obrisi</button>
            </td>

          </tr>
          </tbody>
        </table>

      </div>



      <div id="divTabela1" *ngIf="PrikazOcjena==true && prikazPodataka==false && prikaziNarudzbe==false &&
      prikazKomentara==false && ocjeneProizvodaBool==false;">
        <table class="table table-primary">
          <thead style="background-color: black;">
          <tr style="background-color: black;">
            <th>Ocjena</th>
            <th>Kupac</th>
            <th>Prodavnica</th>
            <th>Datum</th>
            <th>Brisanje</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let o of prikaziMojeOcjeneProdavnica()">
            <td>{{o.ocjena}}</td>
            <td>{{o.kupac}}</td>
            <td>{{o.prodavnica}}</td>
            <td>{{o.datumKreiranja | date:'dd-MM-yyyy'}}</td>
            <td>
              <button (click)="brisiOcjenu(o)">Obrisi</button>
            </td>

          </tr>
          </tbody>
        </table>

      </div>




      <div id="divTabela2" *ngIf="ocjeneProizvodaBool==true && PrikazOcjena==false && prikazPodataka==false &&
      prikaziNarudzbe==false && prikazKomentara==false">
        <table class="table table-primary">
          <thead style="background-color: black;">
          <tr style="background-color: black;">
            <th>Ocjena</th>
            <th>Kupac</th>
            <th>Proizvod</th>
            <th>Datum</th>
            <th>Brisanje</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let op of prikaziMojeOcjeneProizvoda()">
            <td>{{op.ocjena}}</td>
            <td>{{op.kupac}}</td>
            <td>{{op.proizvod}}</td>
            <td>{{op.datumKreiranja | date:'dd-MM-yyyy'}}</td>
            <td>
              <button (click)="brisiOcjenuProizvoda(op)">Obrisi</button>
            </td>

          </tr>
          </tbody>
        </table>

      </div>

    </div>


</div>
<!--
<button (click)="prikazDiva()">Klikni ovdje</button>
<div *ngIf="prikaziDiv==true" id="probaDiva" >

  <div id="poruka">
    <img src="assets/slike/warning.png" style="width: 65px;">
    <h4>Da li ste sigurnni da zelite obrisati?</h4>
    <h6>Ova akcija se ne može poništiti.</h6>
    <button (click)="skloniDiv()" class="dugmeDelete" style="background-color: #b8bbbf;color :white;">Ne</button>
    <button (click)="skloniDiv()" class="dugmeDelete" style="background-color: red;color:white;">Da</button>

  </div>
</div>

-->








<!--<h4 style="margin: 1%">Moj profil</h4>-->






<!--editBrojTelefona-->
<div *ngIf="promjeniBroj==true" class="modal fade show" id="exampleModalLive2" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel2">Promjena broja telefona </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="vratiNaFalse()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3" [class.has-error]="brojTelefona.invalid && brojTelefona.touched">
          <label class="form-label">Broj telefona: </label><br>
          <input class="form-control" type="text" #brojTelefona="ngModel" [(ngModel)]="kupac.brojTelefona"
                 required pattern="^[0-9]{3}[-][0-9]{3}[-][0-9]{3}$" placeholder="000-000-000">
          <span class="poruka-validacija" *ngIf="brojTelefona.invalid && brojTelefona.touched">
             <p>Unesite broj u ispravnom formatu!</p>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="vratiNaFalse()">Close</button>
        <button type="button" class="btn btn-primary" (click)="editBrojTelefona()"  >Save changes</button>
      </div>
    </div>
  </div>
</div>



<!--editIme-->
<div *ngIf="promjeniIme==true" class="modal fade show" id="exampleModalLive3" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel3">Promjena imena </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="vratiNaFalse()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3" [class.has-error]="ime.invalid && ime.touched">
          <label class="form-label">Ime:  </label><br>
          <input class="form-control"  #ime="ngModel" [(ngModel)]="kupac.ime"
                 required pattern="^[A-Z]{1}[a-z]{2,10}$" placeholder="Ime">


          <span class="poruka-validacija" *ngIf="ime.invalid && ime.touched">
             <p>Ime može sadržavati samo slova!</p>
          </span>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="vratiNaFalse()">Close</button>
        <button type="button" class="btn btn-primary" (click)="editImeKupca()"  >Save changes</button>
      </div>
    </div>
  </div>
</div>


<!--editPrezime-->
<div *ngIf="promjeniPrezime==true;" class="modal fade show" id="exampleModalLive4" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel4">Promjena prezimena </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="vratiNaFalse()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3" [class.has-error]="prezime.invalid && prezime.touched">
          <label class="form-label">Prezime: </label><br>
          <input class="form-control" type="text" #prezime="ngModel" [(ngModel)]="kupac.prezime"
                 required pattern="^[A-Z]{1}[a-z]{2,15}$" placeholder="Prezime">


          <span class="poruka-validacija" *ngIf="prezime.invalid && prezime.touched">
             <p>Prezime može sadržavati samo slova!</p>
          </span>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="vratiNaFalse()">Close</button>
        <button type="button" class="btn btn-primary" (click)="editPrezimeKupca()"  >Save changes</button>
      </div>
    </div>
  </div>
</div>

<!--promjena lozinke-->
<div *ngIf="promjeniLozinku==true" class="modal fade show" id="exampleModalLive5" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel5">Promjena lozinke </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="vratiNaFalse()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3" [class.has-error]="lozinkaSadasnja.invalid && lozinkaSadasnja.touched">
          <label class="form-label">Sadašnja lozinka:  </label><br>
          <input class="form-control" type="password" #lozinkaSadasnja="ngModel" [(ngModel)]="sadasnjaLozinka"
                 required pattern="^[a-zA-Z0-9]{3,}$" placeholder="">


          <span class="poruka-validacija" *ngIf="lozinkaSadasnja.invalid && lozinkaSadasnja.touched">
             <p>Unesite ispravno sadašnju lozinku!</p>
          </span>

        </div>

        <div class="mb-3" [class.has-error]="lozinkaNova.invalid && lozinkaNova.touched">
          <label class="form-label">Nova lozinka:  </label><br>
          <input class="form-control" type="password" #lozinkaNova="ngModel" [(ngModel)]="novaLozinka"
                 required pattern="^[a-zA-Z0-9]{3,}$" placeholder="">


          <span class="poruka-validacija" *ngIf="lozinkaNova.invalid && lozinkaNova.touched">
             <p>Unesite ispravno novu lozinku!</p>
          </span>

        </div>

        <div class="mb-3" [class.has-error]="lozinkaNovaPonovo.invalid && lozinkaNovaPonovo.touched">
          <label class="form-label">Ponovi lozinku:  </label><br>
          <input class="form-control" type="password" #lozinkaNovaPonovo="ngModel" [(ngModel)]="novaLozinkaPonovo"
                 required pattern="^[a-zA-Z0-9]{3,}$" placeholder="">


          <span class="poruka-validacija" *ngIf="lozinkaNovaPonovo.invalid && lozinkaNovaPonovo.touched">
             <p>Unesite ispravno novu lozinku!</p>
          </span>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="vratiNaFalse()">Close</button>
        <button type="button" class="btn btn-primary"
                [disabled]="!jeLiOmoguceno(lozinkaSadasnja,lozinkaNova,lozinkaNovaPonovo)"
                (click)="editLozinkeKupca()"
                >Save changes</button>
      </div>
    </div>
  </div>
</div>






<!--
<button (click)="prikazNarudzbi()">narudzbe</button>
<button (click)="prikazKomm()" style="margin: 1%;">Komentari</button>
<button (click)="prikazOcjene()" style="margin: 1%;">Ocjene prodavnica</button>
<button (click)="prikazOcjeneProizvoda()" style="margin: 1%;">Ocjene proizvoda</button>
-->













  <div *ngIf="odabranikomentar!=null" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLiveLabel">Edit komentara</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="odabranikomentar=null"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Komentar</label>
            <input class="form-control" placeholder="Komentar" [(ngModel)]="odabranikomentar.opis" >
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="odabranikomentar=null">Close</button>
          <button type="button" class="btn btn-primary"  (click)="modifikuj1(odabranikomentar)">Save changes</button>
        </div>
      </div>
    </div>

  </div>



<!--


<div *ngIf="kliknuoDodajSliku==true" class="modal fade show"  tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" > Dodaj sliku </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)=" kliknuoDodajSliku=false;" ></button>
      </div>
      <div class="modal-body">





        <div class="mb-3">
          <label class="form-label">Nova slika</label>
          <input class="form-control" id="slika-input" type="file"  accept="image/jpg" (change)="generisi_preview()" />
          <img style="max-width: 100%; height: 200px" src="{{slika_obj.slika_nova}}">
        </div>


      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-primary" (click)="snimi_sliku()">Save changes</button>
      </div>
    </div>
  </div>
</div>


-->
