<app-nav-kupac></app-nav-kupac>

KUPAC ID: {{kupac_id}}


<!--
<button (click)="prikazDiva()">Klikni ovdje</button>
<div *ngIf="prikaziDiv==true" id="probaDiva" >

  <div id="poruka">
    <img src="assets/slike/warning.png" style="width: 65px;">
    <h4>Da li ste sigurnni da zelite obrisati?</h4>
    <h6>Ova akcija se ne može poništiti.</h6>
    <button (click)="skloniDiv()" class="dugmeDelete" style="background-color: #b8bbbf;color :white;">Ne</button>
    <button (click)="skloniDiv()" class="dugmeDelete" style="background-color: red;color:white;">Da</button>

  </div>
</div>

-->








<h4 style="margin: 1%">Moj profil</h4>

<div id="kupacPodaci">
  <h6>Ime:</h6>
  <input value=" {{kupac_podaci.ime}}" disabled>
  <h6>Prezime: </h6>
  <input value=" {{kupac_podaci.prezime}}" disabled>
  <h6>Email: </h6>
  <input value=" {{kupac_podaci.email}}" disabled>
  <h6>Username: </h6>
  <input value=" {{kupac_podaci.username}}" disabled>
  <h6>Broj telefona: {{kupac_podaci.brojTelefona}}</h6>

  <input value=" {{kupac_podaci.brojTelefona}}" disabled style="display: inline" [(ngModel)]="kupac.brojTelefona">
  <img src="assets/slike/add1.png" id="AddNumber" >
  <h6>Datum registracije: {{kupac_podaci.datum_kreiranja}}</h6>
  <input value=" {{kupac_podaci.datumRegistracije | date:'dd-MM-yyyy (hh:mm:ss)'}}" disabled>

  <h6>Pretplata:  {{kupac_podaci.isPretplacen}}</h6>
  <h6>Adresa: {{kupac_podaci.adresaIsporuke}}</h6>


</div>


<button (click)="prikazKomm()" style="margin: 1%;">Komentari</button>
<button (click)="prikazOcjene()" style="margin: 1%;">Ocjene prodavnica</button>
<button (click)="prikazOcjeneProizvoda()" style="margin: 1%;">Ocjene proizvoda</button>
<div *ngIf="komm==true" style="margin: 2% 3%;">
  <div id="divTabela">
    <table class="table table-warning">
      <thead style="background-color: black;">
      <tr style="background-color: black;">
        <th>Opis</th>
        <th>Kupac</th>
        <th>Prodavnica</th>
        <th>Datum</th>
        <th>Modifikacija</th>
        <th>Brisanje</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let s of prikaziMojeKomentare()">
        <td>{{s.opis}}</td>
        <td>{{s.kupac}}</td>
        <td>{{s.prodavnica}}</td>
        <td>{{s.datumKreiranja}}</td>
        <td>
          <button (click)="modifikuj(s)">Modifikacija</button>
        </td>
        <td>
          <button (click)="brisikomm(s)">Obrisi</button>
        </td>

      </tr>
      </tbody>
    </table>

  </div>
</div>



  <div *ngIf="ocjene==true" style="margin: 2% 3%;">
    <div id="divTabela1">
      <table class="table table-warning">
        <thead style="background-color: black;">
        <tr style="background-color: black;">
          <th>Ocjena</th>
          <th>Kupac</th>
          <th>Prodavnica</th>
          <th>Datum</th>
          <th>Brisanje</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let o of prikaziMojeOcjeneProdavnica()">
          <td>{{o.ocjena}}</td>
          <td>{{o.kupac}}</td>
          <td>{{o.prodavnica}}</td>
          <td>{{o.datumKreiranja}}</td>
          <td>
            <button (click)="brisiOcjenu(o)">Obrisi</button>
          </td>

        </tr>
        </tbody>
      </table>

    </div>

</div>

<div *ngIf="ocjeneProizvodaBool==true" style="margin: 2% 3%;">
  <div id="divTabela2">
    <table class="table table-warning">
      <thead style="background-color: black;">
      <tr style="background-color: black;">
        <th>Ocjena</th>
        <th>Kupac</th>
        <th>Proizvod</th>
        <th>Datum</th>
        <th>Brisanje</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let op of prikaziMojeOcjeneProizvoda()">
        <td>{{op.ocjena}}</td>
        <td>{{op.kupac}}</td>
        <td>{{op.proizvod}}</td>
        <td>{{op.datumKreiranja}}</td>
        <td>
          <button (click)="brisiOcjenuProizvoda(op)">Obrisi</button>
        </td>

      </tr>
      </tbody>
    </table>

  </div>

</div>





  <div *ngIf="odabranikomentar!=null" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLiveLabel">Novi semestar za </h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="odabranikomentar=null"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Ime</label>
            <input class="form-control" placeholder="Ime" [(ngModel)]="odabranikomentar.opis" >
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="odabranikomentar=null">Close</button>
          <button type="button" class="btn btn-primary"  (click)="modifikuj1(odabranikomentar)">Save changes</button>
        </div>
      </div>
    </div>

  </div>

<div *ngIf="kupac!=null" class="modal fade show" id="exampleModalLive2" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel2">Modifikacija </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="kupac=null"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Broj telefona</label>

        <div class="mb-3">
          <label class="form-label">Velicina</label>
          <input class="form-control" type="text" [(ngModel)]="kupac.brojTelefona">


        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="kupac=null">Close</button>
        <button type="button" class="btn btn-primary"  (click)="editBrojTelefona(kupac)">Save changes</button>
      </div>
    </div>
  </div>

</div>
