<app-neregistrovan *ngIf="loginInfo().isLogiran==false"></app-neregistrovan>
<div id="onama">
  <h2 id="NaslovONama">O NAMA</h2>
  <h4>Ko smo mi?</h4>
  <p>

    Luna je započeo 2011. s jasnom međunarodnom misijom i s namjerom odijevanja mladih ljudi koji su uključeni
    u svoju okolinu, koji žive u zajednici i povezani su jedni s drugima. Mladi ljudi koji imaju smisao za ležerno odijevanje,
    koji se klone stereotipa i žele se osjećati dobro u svemu što nose. Kako bi zadovoljio njihove potrebe, Luna
    preuzima najnovije svjetske trendove, miješajući ih s utjecajima koji se mogu vidjeti na ulici iu najotmjenijim klubovima,
    te ih prerađuje u skladu sa svojim stilom pretvarajući ih u udobne i lako nosive odjevne predmete.
</p>
  <br><br>
  <h4>Šta je naš cilj?</h4>
  <p>
    Luna se razvija istim tempom kao i njegov kupac, uvijek pazeći na nove tehnologije, društvene pokrete i najnovije
    umjetničke ili glazbene trendove. Sve se to može vidjeti ne samo u dizajnu nego i u trgovinama. Nadahnute legendarnim
    kalifornijskim gradom Palm Springsom, linije proizvoda neprestano se ažuriraju.   </p>
</div>
