<app-navbar-zaposlenik></app-navbar-zaposlenik>

<div class="pretraga">

  <div class="filtriranje">
 <div class="pretraga-div">
  <input class="pretrazi-proizvode" type="text" placeholder="pretrazi po nazivu, opisu, boji, kategoriji, podkategoriji..." #pretraga_proizvoda>
  <img class="img-search" src="assets/slike/search.svg" (click)="kliknuoPretrazi=true">
 </div>


 <div class="cmb-aktivnost">
  <div class="mb-3" >
    <select required class="form-control slct" [(ngModel)]="staJeIzabrano">
      <option>
        Sve</option>
      <option>
        Aktivan</option>
      <option>
        Neaktivan</option>
    </select>
    </div>
   </div>


    <div class="sortiranje">
      <div class="mb-3" >
        <select required class="form-control slct" [(ngModel)]="sortirajPo">
          <option>Datum opadajući</option>
          <option>Datum rastući</option>
        </select>
      </div>
    </div>

  </div>

  <div class="add-proizvod-div">
    <button class="add-proizvod" (click)="dodajProizvod()">Dodaj proizvod</button>
  </div>


</div>




<table class="table table-hover">
  <thead>
  <tr>
 <!--   <th scope="col">Id</th> -->
    <th scope="col">Šifra</th>
    <th scope="col">Naziv</th>
    <th scope="col">Cijena</th>
<!--    <th scope="col">Opis</th>-->
    <th scope="col">Datum kreiranja</th>
    <th scope="col">Datum modifikacije</th>
    <th scope="col">Aktivan</th>
    <th scope="col">Odjel</th>
    <th scope="col">Kategorija</th>
    <th scope="col">Podkategorija</th>
  <!--  <th scope="col">Kolekcija</th>
    <th scope="col">Sezona</th> -->
    <th scope="col">Evidentirao</th>
    <th scope="col">Modifikovao</th>
    <th scope="col">Slika</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <!--proizvodi-->
  <tr *ngFor="let p of getFilterProizvodi(pretraga_proizvoda.value) | paginate:
  {
  itemsPerPage: 5,
  currentPage:page,
  totalItems:totalLength
  }">
<!--    <th scope="row">{{p.id}}</th> -->
    <th scope="row">{{p.sifra}}</th>
    <td>{{p.naziv}}</td>
    <td>{{p.cijena}}</td>
  <!--  <td>{{p.opis}}</td>-->
    <td>{{formatDatum(p.datum_kreiranja)}}</td>
    <td>{{formatDatum(p.datum_modifikacije)}}</td>
    <td>{{p.aktivan ? "Aktivan" : "Neaktivan"}}</td>
    <td>{{p.odjelOpis}}</td>
    <td>{{p.kategorijaOpis}}</td>
    <td>{{p.podkategorijaOpis}}</td>
 <!--   <td>{{p.kolekcijaOpis}}</td>
    <td>{{p.sezonaOpis}}</td> -->
    <td>{{p.evidentirao}}</td>
    <td>{{p.modifikovao==null? "-" : p.modifikovao}}</td>
    <td> <img style="display:block; max-width: 100%; width:60%; height: 70px" src="{{get_slika_base64_FS(p)}}"></td>
    <td> <img style="display:block; max-width: 100%; height: 40px" src="assets/slike/pencil-square.svg" class="edit-btn" (click)="EditDugme(p)"></td>
    <td> <img style="display:block; max-width: 100%; height: 40px" src="assets/slike/x-square.svg" class="delete-btn" (click)="DeleteDugme(p)"></td>
    <td> <button class="btn-dodaj-sliku" (click)="dodajSliku(p)">Slike</button></td>
    <td> <button class="btn-sezkol" (click)="dodajSezonuIKolekcij(p.id, p)">Sezone/kolekcije</button></td>

  </tr>

  </tbody>
</table>

<pagination-controls class="text-center my-pagination" (pageChange)="page=$event"></pagination-controls>



<div *ngIf="odabrani_proizvod!=null" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel" > {{naslov}} </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="odabrani_proizvod=null; getProizvodOpadajuci(); "></button>
      </div>
      <div class="modal-body">


        <div class="mb-3" [class.has-error]="sifraControll.invalid && sifraControll.touched && !dozvoljenaSifra(sifraInput.value)">
          <label class="form-label">sifra</label>
          <input type="number" #sifraInput required pattern="^\d+$" #sifraControll="ngModel" class="form-control" placeholder="Sifra" [(ngModel)]="odabrani_proizvod.sifra" [disabled]="kliknuoEdit" (click)="dozvoljenaSifra(sifraInput.value)" >

          <span class="help-block" *ngIf="kliknuoEdit==false && ((sifraControll.invalid && sifraControll.touched) || dozvoljenaSifra(sifraInput.value)==false)">
              Ovo polje je obavezno. Može sadržavati samo brojeve i unikatne vrijednosti.
          </span>

        </div>



        <div class="mb-3" [class.has-error]="nazivControll.invalid && nazivControll.touched">
          <label class="form-label">naziv</label>
          <input type="text" required minlength="3" #nazivControll="ngModel" class="form-control" placeholder="Naziv" [(ngModel)]="odabrani_proizvod.naziv" >

          <span class="help-block" *ngIf="nazivControll.invalid && nazivControll.touched">
            Ovo polje je obavezno i mora imati najmanje 3 karaktera
          </span>

        </div>



        <div class="mb-3" [class.has-error]="cijenaControll.invalid && cijenaControll.touched">
          <label class="form-label">cijena</label>
          <input required #cijenaControll="ngModel" pattern="^[0-9]+\.?[0-9]+$" #cijena class="form-control" placeholder="Cijena" [(ngModel)]="odabrani_proizvod.cijena"/>

          <span class="help-block" *ngIf="(cijenaControll.invalid && cijenaControll.touched) || jelUnesenaNula(cijena.value)">
              Ovo polje je obavezno
          </span>
        </div>


        <div class="mb-3" [class.has-error]="opisControll.invalid && opisControll.touched">
          <label class="form-label">opis</label>
          <textarea required #opisControll="ngModel" class="form-control" placeholder="Opis" [(ngModel)]="odabrani_proizvod.opis" ></textarea>

          <span class="help-block" *ngIf="opisControll.invalid && opisControll.touched">
              Ovo polje je obavezno
          </span>
        </div>


        <div class="mb-3" [class.has-error]="(bojaControll.invalid && bojaControll.touched) || boje?.length==0">
          <label class="form-label">Boja</label>

          <select required #bojaControll="ngModel" class="form-control" [(ngModel)]="odabrani_proizvod.bojaId"  >
            <option *ngFor="let b of boje " [value]="b?.id">{{b.naziv}}</option>

          </select>

          <span class="help-block" *ngIf="(bojaControll.invalid && bojaControll.touched) || boje?.length==0">
              Ovo polje je obavezno
          </span>
        </div>


        <!--
<div class="radio-odjel" >
        <div class="form-check" [(ngModel)]="odabrani_proizvod.odjelId">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked (click)="odabrani_proizvod.odjelId=1" >
          <label  class="form-check-label" for="flexRadioDefault1"  >
            Muški odjel
          </label>
        </div>
        <div class="form-check" [(ngModel)]="odabrani_proizvod.odjelId">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"  (click)="odabrani_proizvod.odjelId=2">
          <label class="form-check-label" for="flexRadioDefault2">
            Ženski odjel
          </label>
        </div>
</div>

-->

        <div class="mb-3" [class.has-error]="odjelControll.invalid && odjelControll.touched">
          <label class="form-label">Odjel</label>

          <select required #odjelControll="ngModel" class="form-control" [(ngModel)]="odabrani_proizvod.odjelId"  >
            <option *ngFor="let o of odjeli " [value]="o?.id"> {{o.naziv}}</option>
          </select>

          <span class="help-block" *ngIf="odjelControll.invalid && odjelControll.touched">
              Ovo polje je obavezno
          </span>
        </div>


        <div class="mb-3" [class.has-error]="(katControll.invalid && katControll.touched) || kategorije?.length==0">
          <label class="form-label">Kategorija</label>

          <select required #katControll="ngModel" class="form-control" [(ngModel)]="odabrani_proizvod.kategorijaId" (click)="getPodkategorijeByKatID();" >
            <option *ngFor="let k of kategorije " [value]="k?.id"  >{{k.naziv}}</option>

          </select>

          <span class="help-block" *ngIf="(katControll.invalid && katControll.touched) || kategorije?.length==0">
              Ovo polje je obavezno
          </span>
        </div>


        <div class="mb-3" [class.has-error]="(podkatControll.invalid && podkatControll.touched) || podkategorije?.length==0">
          <label class="form-label">Podkategorija</label>

          <select required #podkatControll="ngModel" class="form-control" [(ngModel)]="odabrani_proizvod.podkategorijaId">

            <option *ngFor="let p of podkategorije " [value]="p?.id" >{{p.naziv}} </option>

          </select>

          <span class="help-block" *ngIf="(podkatControll.invalid && podkatControll.touched) || (podkategorije?.length==0)">
              Ovo polje je obavezno
          </span>

        </div>

<!--
        <div class="mb-3" [class.has-error]="(sezonaControll.invalid && sezonaControll.touched) || sezone?.length==0">
          <label class="form-label">Sezona</label>

          <select required #sezonaControll="ngModel" class="form-control" [(ngModel)]="odabrani_proizvod.sezonaId" (click)="getKolekcijeBySezonaID();" >
            <option *ngFor="let s of sezone " [value]="s?.id"  >{{s.naziv}}</option>

          </select>

          <span class="help-block" *ngIf="(sezonaControll.invalid && sezonaControll.touched) || sezone?.length==0">
              Ovo polje je obavezno
          </span>
        </div>


        <div class="mb-3" [class.has-error]="(kolekcijaControll.invalid && kolekcijaControll.touched) || kolekcije?.length==0">
          <label class="form-label">Kolekcija</label>

          <select required #kolekcijaControll="ngModel" class="form-control" [(ngModel)]="odabrani_proizvod.kolekcijaId">

            <option *ngFor="let kol of kolekcije " [value]="kol?.id" >{{kol.naziv}} </option>

          </select>

          <span class="help-block" *ngIf="(kolekcijaControll.invalid && kolekcijaControll.touched) || kolekcije?.length==0">
              Ovo polje je obavezno
          </span>
        </div>
-->
        <div class="mb-3">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="odabrani_proizvod.aktivan">
          <label class="form-check-label" for="exampleCheck1" >Aktivan</label>
        </div>



        <!--
        <hr>

        <div *ngIf="kliknuoEdit==false" class="mb-3" [class.has-error]="skladisteControll.invalid && skladisteControll.touched">
          <label class="form-label">Skladiste</label>

          <select required #skladisteControll="ngModel" class="form-control" [(ngModel)]="odabrani_proizvod.skladisteId">

            <option *ngFor="let s of skladista " [value]="s?.id" >{{s.naziv}} </option>

          </select>

          <span class="help-block" *ngIf="skladisteControll.invalid && skladisteControll.touched">
              Ovo polje je obavezno.
          </span>
        </div>


        <div *ngIf="kliknuoEdit==false" class="mb-3" [class.has-error]="kolicinaControll.invalid && kolicinaControll.touched">
          <label class="form-label">Kolicina</label>
          <input required #kolicinaControll="ngModel" pattern="^[0-9]*$" #cijena class="form-control" placeholder="Cijena" [(ngModel)]="odabrani_proizvod.kolicina"/>

          <span class="help-block" *ngIf="(kolicinaControll.invalid && kolicinaControll.touched) || jelUnesenaNula(cijena.value)">
              Ovo polje je obavezno.
          </span>
        </div>

-->

      </div>
      <div class="modal-footer">
        <button [disabled]="jelOmogucenSave(sifraControll, sifraInput, nazivControll,cijenaControll,opisControll,bojaControll, podkatControll,katControll)" type="button" class="btn btn-primary" (click)="spasi(odabrani_proizvod)" >Spasi</button>
      </div>
    </div>
  </div>
</div>




<div *ngIf="slika_proizvod_objekat!=null" class="modal fade show"  tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" > Dodaj sliku </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="slika_proizvod_objekat=null; kliknuoDodajSliku=false; getProizvodOpadajuci();" ></button>
      </div>
      <div class="modal-body">


        <div class="mb-3" >
          <label class="form-label">Proizvod: </label>
          <input disabled [value]="proizvod_sifra" class="input-kod-slike">  <!-- [(ngModel)]="slika_proizvod_objekat.proizvodId" -->
        </div>

        <div class="mb-3"  >
          <label class="form-label">Stare slike</label>
   <!--
          <p *ngFor="let x of slike_by_proizvodId">

            <img style="display:block;max-width: 100%; height: 200px" src="{{get_slika_FS(x)}}">

          </p>
   -->

          <p *ngFor="let x of listaobjekataProizvodSlike">
            <img style="display:block;max-width: 100%; height: 200px" src="{{get_slika_base64_DB(x)}}">
            <button class="btn-obrisi-sliku" (click)="obrisiSliku(x.id)"> Obriši</button>
          </p>



        </div>




        <div class="mb-3">
          <label class="form-label">Nova slika</label>
          <input class="form-control" id="slika-input" type="file"  accept="image/jpg" (change)="generisi_preview()" />
          <img style="max-width: 100%; height: 200px" src="{{slika_proizvod_objekat.slika_nova}}">
        </div>


      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-primary" [disabled]="slika_proizvod_objekat.slika_nova==''"
                 (click)="snimi_sliku()">Spasi</button>
      </div>
    </div>
  </div>
</div>




<div *ngIf="obj_sezkol!=null" class="modal fade show" id="exampleModalLive1" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel1" [ngStyle]="{color:getColor()}"> {{naslov}} </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="obj_sezkol=null; getProizvodOpadajuci(); kliknuo_add_sezkol=false;"></button>
      </div>
      <div class="modal-body">


        <div class="mb-3" [class.has-error]="(sezonaControll.invalid && sezonaControll.touched) || sezone?.length==0">
          <label class="form-label">Sezona</label>

          <select required #sezonaControll="ngModel" class="form-control" [(ngModel)]="obj_sezkol.sezonaId" (click)="getKolekcijeBySezonaID(obj_sezkol.sezonaId);" >
            <option *ngFor="let s of sezone " [value]="s?.id"  >{{s.naziv}} - {{s.aktivna?"Aktivna":"Neaktivna"}}</option>

          </select>

          <span class="help-block" *ngIf="(sezonaControll.invalid && sezonaControll.touched) || sezone?.length==0">
              Ovo polje je obavezno
          </span>
        </div>


        <div class="mb-3" [class.has-error]="(kolekcijaControll.invalid && kolekcijaControll.touched) || kolekcije?.length==0">
          <label class="form-label">Kolekcija</label>

          <select required #kolekcijaControll="ngModel" class="form-control" [(ngModel)]="obj_sezkol.kolekcijaId">

            <option *ngFor="let kol of kolekcije " [value]="kol?.id" >{{kol.naziv}} - {{kol.aktivna?"Aktivna":"Neaktivna"}} </option>

          </select>

          <span class="help-block" *ngIf="(kolekcijaControll.invalid && kolekcijaControll.touched) || kolekcije?.length==0">
              Ovo polje je obavezno
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button  type="button"
                class="btn btn-primary" [disabled]="!jel_dozvoljen_save_sezkol()" (click)="spasi_sezkol()">Spasi promjene</button>
      </div>
    </div>
  </div>
</div>





