.filtriranje{
  display: grid;
  grid-template-columns: 75% 20% 30%;
  grid-auto-rows: 40px;
  width:50%;
  gap:2%;
}

.pretraga-div{
  display: flex;
  width:90%;
 /* margin:2% auto 2% auto;*/
}

.pretraga-div .pretrazi-proizvode{
  width:100%;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border:groove;
  padding:2%;
}

.cmb-aktivnost{
  width:100%;
}

.sortiranje{
  width: 100%;
}

.pretraga-div .img-search{
  border:groove;
  background-color: white;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-left: none;
  padding:2%;
  cursor: pointer;
}


.pretraga-div .img-search:hover{
  background-color: #d7f5ff;
}


.help-block{
  color:red;
}
.dozv-sifra-span{
  color:red;
}


.pretraga{
  margin:3% auto 3% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:90%;
}

.add-proizvod-div{
   width: 15%;
}

.add-proizvod{
  width:100%;
  border:groove;
  border-radius: 10px;
  padding:2%;
  background-color: rgba(89,176,255,0.7);
  color:black;
}

.form-control{
 /* background-color: #95e4ff;*/
}

.slct{
  background-color: #95e4ff;
}

.btn-dodaj-sliku{
  border:groove;
  border-radius: 10px;
  padding:1%;
  background-color: #95e4ff;
}

.btn-dodaj-sliku:hover, .add-proizvod:hover{
  opacity: 80%;
}
/*tabela*/

table{
  width:90%;
  margin:2% auto 2% auto;
}

table img{
  width:30px;
  height: 30px;
  cursor: pointer;
}

select{
  cursor: pointer;
}
