<app-nav-kupac></app-nav-kupac>
<div class="faq_area section_padding_130" id="faq"   style="padding-top: 80px;
padding-bottom: 110px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
        <!-- Section Heading-->
        <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <h3 style="margin-bottom: 5%;"><span>Često  </span> postavljena pitanja</h3>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- FAQ Area-->
      <div class="col-12 col-sm-10 col-lg-8">
        <div class="accordion faq-accordian" id="faqAccordion">
          <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="card-header" id="headingOne">
              <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1. Kako da kupim proizvod?<span class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
              <div class="card-body">
                <p>Kada nađete proizvod koji želite da kupite, potrebno je kliknuti na dugme "Dodaj u košaricu", nakon čega je potrebno kreirati narudžbu.</p>
              </div>
            </div>
          </div>

          <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="card-header" id="headingTwo">
              <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">2. Kako da stavim proizvod u favorite?<span class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
              <div class="card-body">
                <p>Kada pronađete željeni proizvod, sve što treba da uradite jeste da kliknete na ikonicu srca u uglu. O uspješnosti ćete biti obaviješteni porukom.</p>

              </div>
            </div>
          </div>


          <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="card-header" id="headingThree">
              <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">3. Kako da vidim status narudžbe? <span class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqAccordion">
              <div class="card-body">
                <p>Status narudžbe možete pogledati u odjeljku Narudžbe na svom profilu. </p>

              </div>
            </div>
          </div>



          <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="card-header" id="headingFour">
              <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">4. Kako da ocjenim proizvod?<span class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#faqAccordion">
              <div class="card-body">
                <p>Kada pronađete željeni proizvod, sve što treba da uradite jeste da kliknete na ocjenu koju želite da date. O uspješnosti ćete biti obaviješteni porukom.</p>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




