.slika-glavni{

}

.glavni{
  width:90%;
  margin:3% auto 3% auto;
  display: flex;
  justify-content: space-between;
  /*display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #95e4ff;*/
}

.img-profilna{
  border: groove;
}

.divslika{
  width:20%;
  margin:auto;
}
.slika{
  /*display: grid;
  grid-template-columns: auto;
  width:20%;
  margin:auto;*/

}

.dodaj-sliku{
  color:blue;
  border:none;
  background-color: white;
}

.ukloni-sliku{
  color:red;
  border:none;
  background-color: white;
}

.dodaj-sliku:hover, .ukloni-sliku:hover{
  opacity: 40%;
}

h4{
  text-align: center;
}

.osnovni-podaci{
  background-color: #ffdddc;
  border: groove;
  padding:2%;
  width: 32%;
}

.kontakt-podaci{
  background-color: #ffdddc;
  width: 32%;
  border: groove;
  padding:2%;
}

.datum-podaci{
  background-color: #ffdddc;
  width: 32%;
  border: groove;
  padding:2%;
}

.ime, .prezime, .jmbg, .spol, .datumreg, .datumotkaza, .datumrodj, .datumZaposl, .prodavnica,
.adresa, .tel, .email, .lozinka, .username{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:5%;
}

h5{
  color: grey;
}

.odjava{
  width: 90%;
  margin:auto;
  display: flex;
  justify-content: flex-end;
}

.btn-odjava{
  padding:0.5%;
  border: groove;
  background-color: rgba(255,128,99,0.68);
  border-radius: 20px;
}

.btn-odjava:hover{
  background-color: rgba(255,128,99,0.45);
}
