.slika-glavni{
  width:90%;
  margin:auto;
  display: flex;
  justify-content: space-between;
}

.glavni{
  width:80%;
  margin:1% auto 1% auto;
  display: flex;
  justify-content: space-between;
  border:none;
  padding-right: 2%;
  /*display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #95e4ff;*/
}

.img-profilna{
 /* border: groove;*/
  width:80%;
  margin:3% auto;
}

.divslika{
  width:20%;
  margin:1% 0 1% 0;
/*  margin:auto;
  border: groove;
  padding: 2%;*/
  border: groove;
}
.slika{
  /*display: grid;
  grid-template-columns: auto;
  width:20%;
  margin:auto;*/
width:100%;
}

.dodaj-sliku{
  color:deeppink;
  border:none;
  background-color: transparent;
  width: 100%;
}

.ukloni-sliku{
  color:white;
  border:none;
  background-color: red;
  width: 100%;
}

.dodaj-sliku:hover, .ukloni-sliku:hover{
  opacity: 40%;
}

h4{
  text-align: center;
}

.osnovni-podaci{
  background-color: #ffdddc;
  padding:2%;
  width: 32%;
}

.kontakt-podaci{
  background-color: #ffdddc;
  width: 32%;
  padding:2%;
}

.datum-podaci{
  background-color: #ffdddc;
  width: 32%;
  padding:2%;
}

.ime, .prezime, .jmbg, .spol, .datumreg, .datumotkaza, .datumrodj, .datumZaposl, .prodavnica,
.adresa, .tel, .email, .lozinka, .username{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:5%;
}

h5{
  color: grey;
}

.odjava{
  width: 18%;
  margin:auto;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top:66%;
  right:5%;
}

.btn-odjava{
  padding:0.5%;
  border: groove;
  background-color: rgba(255,128,99,0.68);
  border-radius: 10px;
  width:100%;
}

.btn-odjava:hover{
  background-color: rgba(255,128,99,0.45);
}

.evidentirao{
  width: 90%;
  margin:auto;
}

.evid{
  width:78%;
  display: flex;
  justify-content: space-between;
}

.proizvodi-otvori, .narudzbe-otvori, .skladiste-otvori{
  width: 78%;
}

.evidentirao button{
  width:100%;
  padding:1%;
  border:none;
  background-color: #ffdddc; /**/
}

.evidentirao button:hover{
  opacity: 80%;
}

.my-pagination /deep/ .ngx-pagination .current
{
  background-color: pink;
  border-radius: 30px;
}

.inp-pretraga{
  width: 100%;
  border: groove;
}

.img-pretraga{
  border: groove;
}

.pretraga{
  display: flex;
  width: 100%;
}
