<app-navbar-zaposlenik></app-navbar-zaposlenik>

{{zaposlenik_id}}



<div class="slika-glavni">



  <!--
  <hr [ngStyle]="{'width':'100%','margin':'auto'}">
-->
<div class="glavni">

  <div class="osnovni-podaci">
    <h4>Osnovni podaci</h4>
    <hr>
    <div class="ime">
      <h6>Ime: </h6>
      <h5>{{podaci_zaposlenika?.ime}}</h5>
    </div>

    <div class="prezime">
      <h6>Prezime: </h6>
      <h5>{{podaci_zaposlenika?.prezime}}</h5>
    </div>

    <div class="jmbg">
      <h6>JMBG: </h6>
      <h5>{{podaci_zaposlenika?.jmbg}}</h5>
    </div>

    <div class="spol">
      <h6>Spol: </h6>
      <h5>{{podaci_zaposlenika?.spolOpis}}</h5>
    </div>



    <div class="prodavnica">
      <h6>Uposlen u: </h6>
      <h5>{{podaci_zaposlenika?.prodavnicaOpis}}</h5>
    </div>

  </div>

  <div class="kontakt-podaci">
    <h4>Kontakt podaci</h4>
    <hr>
    <div class="email">
      <h6>Email: </h6>
      <h5>{{podaci_zaposlenika?.email}}</h5>
    </div>

    <div class="tel">
      <h6>Broj telefona: </h6>
      <h5>{{podaci_zaposlenika?.brojTelefona}}</h5>
    </div>

    <div class="adresa">
      <h6>Adresa stanovanja: </h6>
      <h5>{{podaci_zaposlenika?.adresaStanovanja}}</h5>
    </div>

  </div>



  <div class="datum-podaci">
    <h4>Datumi </h4>
    <hr>

    <div class="datumrodj">
      <h6>Datum rođenja: </h6>
      <h5>{{podaci_zaposlenika?.datumRodjenja}}</h5>
    </div>

    <div class="datumreg">
      <h6>Datum registracije: </h6>
      <h5>{{podaci_zaposlenika?.datumRegistracije}}</h5>
    </div>

    <div class="datumZaposl">
      <h6>Datum zaposlenja: </h6>
      <h5>{{podaci_zaposlenika?.datumZaposlenja}}</h5>
    </div>

    <!--
    <div class="datumotkaza">
      <h6>Datum otkaza: </h6>
      <h5>{{podaci_zaposlenika?.datumOtkaza==null?"-":podaci_zaposlenika?.datumOtkaza}}</h5>
    </div>
    -->
<!--

pristupni podaci:

    <div class="username">
      <h6>Korisničko ime: </h6>
      <h5>{{podaci_zaposlenika?.username}}</h5>
    </div>

    <div class="lozinka">
      <h6>Lozinka: </h6>
      <h5 type="password">{{podaci_zaposlenika?.lozinka}}</h5>
    </div>

-->

  </div>

</div>


  <div class="divslika">
    <div class="slika">

      <img style="display:block;max-width: 100%; height: 200px" src="{{get_slika_base64_FS(podaci_zaposlenika)}}"
           class="img-profilna">
      <!--  [ngStyle]="{'max-width':'auto', 'height':'250px'}"-->

      <button class="dodaj-sliku" (click)="dodajSliku()">Dodaj novu sliku</button> <br>
      <button class="ukloni-sliku" (click)="ukloniSliku()">Ukloni sliku</button>
    </div>
  </div>


</div>

<br>

<div class="evidentirao">

  <div class="evid">
    <button class="b1"  (click)="otvoriProizvode=true;otvoriNarudzbe=false;otvoriSkladiste=false" [ngStyle]="{'background-color':boja(otvoriProizvode)}">Proizvodi</button>
    <button class="b2" (click)="otvoriProizvode=false;otvoriNarudzbe=true;otvoriSkladiste=false" [ngStyle]="{'background-color':boja(otvoriNarudzbe)}">Narudžbe</button>
    <button class="b3" (click)="otvoriProizvode=false;otvoriNarudzbe=false;otvoriSkladiste=true" [ngStyle]="{'background-color':boja(otvoriSkladiste)}">Skladište</button>
  </div>

  <div class="proizvodi-otvori" *ngIf="otvoriProizvode">

    <br>

    <h5> Proizvodi evidentirani od strane zaposlenika <b> {{podaci_zaposlenika?.ime}} {{podaci_zaposlenika?.prezime}} </b>  </h5>

    <br>

    <div class="pretraga">
      <input class="inp-pretraga" [(ngModel)]="filter_proizvod_sifra"> <img src="assets/slike/search.svg" style="'width':'50px','height':'50px'"
                                        class="img-pretraga">
    </div>

    <br>

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Proizvod</th>
        <th scope="col">Šifra</th>
        <th scope="col">Datum kreiranja</th>
        <th scope="col">Evidentirao</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of getFilterProizvod() | paginate:
   {
        id:'pag1',
        itemsPerPage: 10,
        currentPage:page1,
        totalItems:totalLength1
        } " >
        <td>{{p.naziv}}</td>
        <td>{{p.sifra}}</td>
        <td>{{formatDatum(p.datum_kreiranja)}}</td>
        <td>{{p.evidentirao}}</td>
      </tr>

      </tbody>
    </table>

    <br>

    <h6>Ukupno rezultata: {{totalLength1}}</h6>

    <pagination-controls id="pag1" class="text-center my-pagination" (pageChange)="page1=$event"></pagination-controls>

  </div>

  <div class="narudzbe-otvori" *ngIf="otvoriNarudzbe">
    <br>

    <h5> Narudžbe evidentirane od strane zaposlenika <b> {{podaci_zaposlenika?.ime}} {{podaci_zaposlenika?.prezime}} </b>  </h5>

    <br>

    <div class="pretraga">
      <input class="inp-pretraga" [(ngModel)]="filter_kupac_status_total_ukupnoProizvoda"> <img src="assets/slike/search.svg" style="'width':'50px','height':'50px'"
                                        class="img-pretraga">
    </div>

    <br>


    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Kupac</th>
        <th scope="col">Ukupno proizvoda</th>
        <th scope="col">Total</th>
        <th scope="col">Status</th>
        <th scope="col">Datum kreiranja</th>
        <th scope="col">Datum preuzimanja</th>
        <th scope="col">Evidentirao</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of getFilterNarudzbe() | paginate:
   {
        id:'pag2',
        itemsPerPage: 10,
        currentPage:page2,
        totalItems:totalLenght2
        } " >
        <td>{{p.kupac}}</td>
        <td>{{p.ukupnoProizvoda}}</td>
        <td>{{p.total}}</td>
        <td>{{p.status}}</td>
        <td>{{formatDatum(p.datum_kreiranja)}}</td>
        <td>{{formatDatum(p.datum_preuzimanja)}}</td>
        <td>{{p.evidentirao}}</td>
      </tr>

      </tbody>
    </table>

    <br>
    <h6>Ukupno rezultata: {{totalLenght2}}</h6>
    <pagination-controls id="pag2" class="text-center my-pagination" (pageChange)="page2=$event"></pagination-controls>

  </div>

  <div class="skladiste-otvori" *ngIf="otvoriSkladiste">
    <br>

    <h5> Količina na skladištu evidentirana od strane zaposlenika <b> {{podaci_zaposlenika?.ime}} {{podaci_zaposlenika?.prezime}} </b>  </h5>

    <br>

    <div class="pretraga">
      <input class="inp-pretraga" [(ngModel)]="filter_skladiste_proizvod_kolicina"> <img src="assets/slike/search.svg" style="'width':'50px','height':'50px'"
                                        class="img-pretraga">
    </div>

    <br>

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Proizvod</th>
        <th scope="col">Odjel</th>
        <th scope="col">Veličina</th>
        <th scope="col">Stanje na skladištu</th>
        <th scope="col">Skladište</th>
        <th scope="col">Datum kreiranja</th>
        <th scope="col">Evidentirao</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of getFilterSkladista() | paginate:
   {
        id:'pag3',
        itemsPerPage: 10,
        currentPage:page1,
        totalItems:totalLenght3
        } " >
        <td>{{p.proizvod}}</td>
        <td>{{p.odjel}}</td>
        <td>{{p.velicina}}</td>
        <td>{{p.kolicina}}</td>
        <td>{{p.skladiste}}</td>
        <td>{{formatDatum(p.datum_kreiranja)}}</td>
        <td>{{p.evidentirao}}</td>
      </tr>

      </tbody>
    </table>

    <br>
    <h6>Ukupno rezultata: {{totalLenght3}}</h6>

    <pagination-controls id="pag3" class="text-center my-pagination" (pageChange)="page3=$event"></pagination-controls>

  </div>

</div>

<br><br>

<div class="odjava">
  <button class="btn-odjava" (click)="odjaviSe()">Odjavi se</button>
</div>

<br><br>

<div *ngIf="kliknuoDodajSliku==true" class="modal fade show"  tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" > Dodaj sliku </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)=" kliknuoDodajSliku=false;" ></button>
      </div>
      <div class="modal-body">





        <div class="mb-3">
          <label class="form-label">Nova slika</label>
          <input class="form-control" id="slika-input" type="file"  accept="image/jpg" (change)="generisi_preview()" />
          <img style="max-width: 100%; height: 200px" src="{{slika_obj.slika_nova}}">
        </div>


      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-primary" (click)="snimi_sliku()">Save changes</button>
      </div>
    </div>
  </div>
</div>

