<app-navbar-zaposlenik></app-navbar-zaposlenik>


<div class="sredina">

  <div class="narudzba-id">
    <div class="nar">
      <h6 class="naslov-narudzba">Narudžba: </h6> <br> <h4>{{narudzbaDetalji?.narudzba?.id}}</h4>
    </div>
    <div class="dat">
      <h6 class="date"> Datum kreiranja narudžbe: </h6>  <br>
      <h4>{{_datumKreiranjaNarudzbe}}</h4>
    </div>
    <div class="stat">
      <h6 class="status">Status:</h6> <br>  <h4>{{narudzbaDetalji?.narudzba?.status}}</h4>
    </div>
  </div>

  <div class="summary-customer">
    <div class="summary-info">
      <h4 class="naslov-suma">Ukupna suma</h4>
      <hr>

      <div class="suma-detalji">
        <div class="dat-kreir">

        </div>
        <!--
        <div class="product-total">
          <h6 >Ukupna suma po proizvodu: </h6> <p>{{narudzbaDetalji?.narudzba?.ukupno}}</p>
        </div>
        -->
 <!--       <div class="pdv">
          <h6 > PDV: </h6> <p>17%</p>
        </div>
        -->
   <!--     <div class="dostava-opis">
          <h6 > Dostava:</h6> <p>8 KM</p>
        </div>

        <hr>
-->
        <div class="ukupno">
          <h6 > Ukupno:</h6> <p><b>{{narudzbaDetalji?.narudzba?.ukupno}} KM</b></p>
        </div>

      </div>
    </div>

    <div class="customer-info">
      <h4 class="naslov-kupac">Podaci o kupcu</h4>
      <hr>

      <div class="prodano-dostava">
        <div class="prodano">
          <div class="naslov-prodano">
            <h6 class="prodano-za">Prodano za:</h6>
          </div>

          <div class="podaci-prodano">
            <h6 class="imePrezimeKupca">{{narudzbaDetalji?.kupac?.ime}} {{narudzbaDetalji?.kupac?.prezime}}</h6>
            <h6 class="brojTel">{{narudzbaDetalji?.kupac?.brojTelefona}}</h6>
            <h6 class="email">{{narudzbaDetalji?.kupac?.email}}</h6>
          </div>
        </div>

<!--
        <hr>


        <div class="dostava">
          <div class="naslov-dostava">
            <h6 class="dostava-za">Dostava za:</h6>
          </div>

          <div class="dostava-prodano">
            <h6 class="imePrezimeKupca">Adil Joldić</h6>
            <h6 class="adresa">Dračevice bb </h6>
            <h6 class="grad">Mostar</h6>
            <h6 class="brojTel">062/722-566</h6>
            <h6 class="email">adil.joldic@gmail.com</h6>
          </div>

        </div>

        -->
      </div>
    </div>

  </div>

  <div class="items">

    <table>
      <thead>
      <tr class="table-light">
        <th scope="col">#</th>
        <th scope="col">Proizvod</th>
        <th scope="col">Cijena</th>
        <th scope="col">Količina</th>
        <th scope="col">Total</th>
      </tr>

      </thead>
      <tbody>
      <tr *ngFor="let n  of narudzbaDetalji?.narudzbaStavka">
        <th scope="row">1</th>
        <td>{{n?.proizvodNaziv}}</td>
        <td>{{n?.cijena}}</td>
        <td>{{n?.kolicina}}</td>
        <td>{{n?.total}}</td>
      </tr>

      </tbody>
    </table>

  </div>

  <br>
  <br>
  <br>

</div>

