<app-nav-kupac *ngIf="loginInfo().isLogiran==true"></app-nav-kupac>





















<div *ngFor="let color of colors">
  <!-- Display color information here -->
  <p>{{ color.id }}</p>
  <p>{{ color.opis }}</p>
</div>


<div id="divTabela">
  <table class="table table-warning">
    <thead style="background-color: black;">
    <tr style="background-color: black;">
      <th style="width: 20px;">ID</th>
      <th>Opis</th>
      <th>Kupac</th>
      <th>Prodavnica</th>
      <th>Datum</th>
      <th>Akcija</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let s of getBoje()">
      <td style="width: 20px;">{{s.id}}</td>
      <td>{{s.opis}}</td>
      <td>{{s.kupac}}</td>
      <td>{{s.prodavnica}}</td>
      <td>{{s.datumKreiranja}}</td>
      <td>
       <!-- <button (click)="brisi_komenatar(s)">Obrisi</button>-->
      </td>
    </tr>
    </tbody>
  </table>


<!--
<div>
  <button (click)="prevPage()" [disabled]="page === 1">Previous</button>
  <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
</div>
-->
<div>
  <button (click)="prevPage()" [disabled]="page === 1">Previous</button>
  <ng-container *ngFor="let pageNumber of getPageNumbers()">
    <button (click)="goToPage(pageNumber)" [class.current]="page === pageNumber" [disabled]="page === pageNumber">{{ pageNumber }}</button>
  </ng-container>
  <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
</div>











<div class="tekst">
  <h2>Favoriti</h2>
  <h5>Pogledajte proizvode koje ste dodali u favorite</h5>
</div>
<div *ngIf="favoritiPodaci==0" id="nemaFavorita">
  <img src="assets/slike/broken-heart.png" style="width: 20%; text-align: center;">
  <h1 >Niste dodali nijedan proizvod u favorite!</h1>
  <label style="font-style: italic">Inspirirajte se i obogatite svoju garderobu.</label>
  <button (click)="vratiNaPocetnu()" id="getInspired"> Pogledaj proizvode</button>
</div>

<div  class="velikiFavoriti" *ngIf="favoritiPodaci!=0">
  <div class="FavoritiDiv" *ngFor="let f of getFavoriti()">
    <div id="slikaFavorit" >
      <img src="assets/slike/dress.png" class="FavoritSlikaSamo" >
    </div>
    <div id="tekstFavorit">
      <h5> {{f.proizvod}}</h5>  <h5 style="cursor:pointer;" (click)="UkloniFavorit(f)" id="favbrisanje"> Poništi </h5>
      <h6>{{f.cijena}} KM</h6>
    </div>


  </div>
</div>
