<app-nav-kupac *ngIf="loginInfo().isLogiran==true"></app-nav-kupac>
<div class="tekst">
  <h2>Favoriti</h2>
  <h5>Pogledajte proizvode koje ste dodali u favorite</h5>
</div>
<div *ngIf="favoritiPodaci==0" id="nemaFavorita">
  <h1 >Niste dodali nijedan proizvod u favorite!</h1>
  <label style="font-style: italic">Inspirirajte se i obogatite svoju garderobu.</label>
  <button (click)="vratiNaPocetnu()" id="getInspired"> Pogledaj proizvode</button>
</div>

<div  class="velikiFavoriti" *ngIf="favoritiPodaci!=0">
  <div class="FavoritiDiv" *ngFor="let f of getFavoriti()">
    <div id="slikaFavorit" >
      <img src="assets/slike/dress.png" class="FavoritSlikaSamo" >
    </div>
    <div id="tekstFavorit">
      <h5> {{f.proizvod}}</h5>  <h5 style="cursor:pointer;" (click)="UkloniFavorit(f)" id="favbrisanje"> Poništi </h5>
      <h6>{{f.cijena}} KM</h6>
    </div>


  </div>
</div>
