
<div class="login">

  <div class="naslov">
    <h4>Dobrodošli na našu stranicu</h4>
  </div>

  <div class="prijaviteSe">
    <h5>Izvršite prijavu</h5>
  </div>

  <hr>

  <div class="mb-3 row">

    <div class="col-sm-3" [class.has-error]="username_inp.invalid && username_inp.touched">
      <input id="txtKorisnickoIme" [(ngModel)]="txtKorisnickoIme" class="form-control"
      #username_inp="ngModel" required pattern="^[a-zA-Z]{3}[a-zA-Z]{0,}$">

      <span class="poruka-validacija" *ngIf="username_inp.invalid && username_inp.touched">
         <p>Unesite ispravno korisničko ime</p>
      </span>

    </div>

    <label for="txtKorisnickoIme" class="col-sm-2 col-form-label">Korisničko ime</label>

  </div>

  <div class="mb-3 row">

    <div class="col-sm-3" [class.has-error]="password_inp.invalid && password_inp.touched">
      <input id="txtLozinka" [(ngModel)]="txtLozinka" class="form-control" type="password"
      #password_inp="ngModel" required pattern="^[a-z]{3,10}$">

      <span class="poruka-validacija" *ngIf="password_inp.invalid && password_inp.touched">
       <p>Unesite ispravnu lozinku</p>
      </span>

    </div>

    <label for="txtLozinka" class="col-sm-2 col-form-label">Lozinka</label>

  </div>


  <div class="dugme-login">
    <button class="btn" [disabled]="!(username_inp.valid && password_inp.valid)" (click)="btnLogin()" >
      Prijavi se</button>
  </div>


  <br>
  <div class="registracija">

    <a routerLink="/registracija">Registracija</a>
  </div>

</div>
