<app-navbar-admin></app-navbar-admin>


<div class="sredina">
<!--
  <br><br>

  <div class="welcome">
    <h3>Dobrodošli {{ adminIme }}!</h3>
  </div>

  <br><br>

  <hr>
-->
  <div class="statistika">
    <h5 class="reg-kor">Broj registriranih korisnika: {{brojReg}}</h5>
    <h5 class="pretpl-kor">Broj pretplaćenih na newsletter: {{brojPretpl}}</h5>
    <h5 class="br-narudzbi">Broj narudžbi danas: {{brNar}}</h5>
    <!--napravimo get metodu koja nam vraca narudzbe na danasnji datum (datum treba bit u formatu dd/MM/yyyy); -->
    <h5 class="br-narudzbi">Broj narudžbi prethodni mjesec: {{brNarMjesecno}}</h5>
    <h5 class="br-posjeta">Broj posjeta stranice: {{brojPregleda}}</h5>
  </div>

  <br>
  <br>
  <hr>
<!--

  <div class="katalog">
    <div class="opis-katalog">
      <h5 class="naslov-katalog"> Najnoviji katalog: </h5>
      <h5 class="file-katalog">Katalog.pdf</h5>
      <img src="assets/slike/download2.png" class="slika-preuzmi">
    </div>
    <h5 class="broj-preuzimanja">Broj preuzimanja kataloga: {{brPreuzimanja}}</h5>
  </div>

-->
  <div class="karuzel">

  <h4>3 najprodavanija proizvoda</h4>

  <hr>

    <!--
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/slike_odjeca/dzemper2.jpg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/slike_odjeca/suknja.jpg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/slike_odjeca/dzemper.jpg" class="img-fluid" alt="...">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

-->

    <div class="slike" *ngIf="bestsellers?.length>0">

      <div class="proizvod-div" *ngFor="let b of bestsellers">
        <img class="slika-okvir" src="{{get_slika_base64_FS(b?.proizvod)}}" (click)="detaljiBestsellera(b)">
        <h6 class="proizvod-opis">{{b?.proizvod.naziv}}</h6>
        <button class="btn-proizvod-detalji" (click)="detaljiBestsellera(b)">Detalji</button>
      </div>

    </div>

    <div class="poruka-nema-bestsellera" *ngIf="bestsellers?.length==0">
      <h6>Još uvijek nema prodatih proizvoda!</h6>
    </div>

  </div>




  <div class="prodavnice">

    <h4 class="ocjene-prodavnica">3 najbolje ocijenjene prodavnice:</h4>

    <hr>

    <div class="slider-prodavnice">

      <div class="prodavnica" *ngFor="let p of prodavnice">
        <h5>Adresa prodavnice: {{p?.prodavnica?.adresa}}</h5>
        <img src="assets/slike/store.png" class="prodavnica-slika">
        <h6>Prosječna ocjena: {{zaokruziNaDvijeDecimale(p?.ocjena)}}</h6>
      </div>

    </div>
  </div>


</div>


<div class="okvir-detalji" *ngIf="kliknuoDetalji==true">
  <button class="btn-ok" (click)="kliknuoDetalji=false;">OK</button>

  <h3><b>{{odabrani_proizvod?.proizvod?.naziv}}</b> </h3>
  <div class="slika-i-detalji">
    <div class="detalji-proizvoda">
      <h6>Šifra: <b>{{odabrani_proizvod?.proizvod?.sifra}}</b></h6>
      <h6>Cijena: <b>{{odabrani_proizvod?.proizvod?.cijena}}</b> KM</h6>
      <h6>Opis: <b>{{odabrani_proizvod?.proizvod?.opis}}</b></h6>
      <h6>Odjel: <b>{{odabrani_proizvod?.proizvod?.odjelOpis}}</b></h6>
      <h6>Boja: <b>{{odabrani_proizvod?.proizvod?.bojaOpis}}</b></h6>
      <h6>Datum kreiranja: <b>{{odabrani_proizvod?.datum_kreiranja}}</b></h6>
      <h6>Kategorija: <b>{{odabrani_proizvod?.proizvod?.kategorijaOpis}}</b></h6>
      <h6>Podkategorija: <b>{{odabrani_proizvod?.proizvod?.podkategorijaOpis}}</b></h6>
      <h6>Sezona: <b>{{odabrani_proizvod?.proizvod?.sezonaOpis==null?"-":odabrani_proizvod?.proizvod?.sezonaOpis}}</b></h6>
      <h6>Kolekcija: <b>{{odabrani_proizvod?.proizvod?.kolekcijaOpis==" "?"-":odabrani_proizvod?.proizvod?.kolekcijaOpis}}</b></h6>
      <h6>Aktivan: <b>{{odabrani_proizvod?.proizvod?.aktivan==true?"Da":"Ne"}}</b></h6>
      <h6>Prodata količina: <b>{{odabrani_proizvod?.kolicina}}</b></h6>
    </div>
    <div class="slika-proizvoda">
      <img class="slika-detalji" src="{{get_slika_base64_FS(odabrani_proizvod?.proizvod)}}" (click)="kliknuoGetSlika=true">
    </div>
  </div>
  <br>

  <div class="pregled-slike" *ngIf="kliknuoGetSlika==true">
    <div class="okvir-za-pregled-slike">
      <button class="btn-x" (click)="kliknuoGetSlika=false;">X</button>
      <img class="pregled-slike-okvir" src="{{get_slika_base64_FS(odabrani_proizvod?.proizvod)}}">
    </div>
  </div>



</div>

<br>
