<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="admin_pocetna()"
             >Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="evid_zaposl()">
            Zaposlenici</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  (click)="sez_kol()">
            Sezone i kolekcije</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="spec_pon()">
            Specjalne ponude</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  (click)="kat_podkat()">Kategorije i podkategorije</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  (click)="katalozi()">
            Katalozi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="recenzije()" >
            Recenzije
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  (click)="statistika()">Statistika</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="profil_admin()" >Profil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<hr>
