nav{
  background-color: white;
  padding: 0%;
}

#navbarNavDropdown{
  text-align: end;
  display: flex;
  justify-content: end;
  background-color: white;
}

.container-fluid{
  background-color: white;
}

.navbar-nav{
  margin-left:20%;
  padding:1%;
}

a .nav-link{
  border:solid;
}

a{
  color:black;
}

a:hover{
  color:black;
  opacity: 70%;
  font-size: larger;
  cursor: pointer;
}

a:visited{
  color: black;
}
