<app-nav-kupac *ngIf="loginInfo().isLogiran==true"></app-nav-kupac>

<app-neregistrovan *ngIf="loginInfo().isLogiran==false"></app-neregistrovan>





<div class="faq_area section_padding_130" id="faq"   style="padding-top: 80px;
padding-bottom: 110px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
        <!-- Section Heading-->
        <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <h3 style="margin-bottom: 5%;"><span>Help </span> </h3>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- FAQ Area-->
      <div class="col-12 col-sm-10 col-lg-8">
        <div class="accordion faq-accordian" id="faqAccordion">
          <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="card-header" id="headingOne">
              <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <img src="assets/slike/cartt.png" alt="kosarica"> Košarica
                <span class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
              <div class="card-body">
                <p>Kada nađete proizvod koji želite da kupite, potrebno je kliknuti na dugme "Dodaj u košaricu", nakon čega je potrebno kreirati narudžbu.</p>
              </div>
            </div>
          </div>






          <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="card-header" id="headingTwo">
              <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <img src="assets/slike/heart_f.png" alt="favoriti"> Favoriti
                <span class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
              <div class="card-body">
                <p>Kada pronađete željeni proizvod, sve što treba da uradite jeste da kliknete na ikonicu srca u uglu. O uspješnosti ćete biti obaviješteni porukom.</p>

              </div>
            </div>
          </div>

          <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="card-header" id="headingFour">
              <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                <img src="assets/slike/size.png" alt="vodic">Vodič za veličine
                <span class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#faqAccordion">
              <div class="card-body">
                <p>Klikom na <a routerLink="/vodiczavelicine">Vodič za veličine</a> možete pogledati naš vodič za veličine. </p>

              </div>
            </div>
          </div>

          <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="card-header" id="headingThree">
              <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                <img src="assets/slike/login.png" alt="login"> Profil
                <span class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqAccordion">
              <div class="card-body">
                <p>Na svom profilu možete pogledati svoje narudžbe, statuse narudžbi i ostale informacije vezano za profil i narudžbe. </p>

              </div>
            </div>
          </div>








          <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="card-header" id="headingFive">
              <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFour">
                <img src="assets/slike/box.png" alt="paket" >Paket
                <span class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapseFive" aria-labelledby="headingFive" data-parent="#faqAccordion">
              <div class="card-body">
                <p>Svoj paket možete preuzeti u vama najbližoj prodavnici.</p>

              </div>
            </div>
          </div>






          <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="card-header" id="headingSix">
              <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseFour">
                <img src="assets/slike/money.png" alt="placanje">Plaćanje
                <span class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapseSix" aria-labelledby="headingSix" data-parent="#faqAccordion">
              <div class="card-body">
                <p>Moguće je plaćanje pouzećem.</p>

              </div>
            </div>
          </div>

          <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="card-header" id="headingSeven">
              <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseThree">
                <img src="assets/slike/store.png" alt="prodavnica"> Prodavnice
                <span class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapseSeven" aria-labelledby="headingSeven" data-parent="#faqAccordion">
              <div class="card-body">
                <p>Klikom na <a routerLink="/prodavnice">Prodavnice</a> možete pogledati sve naše prodavnice. </p>

              </div>
            </div>
          </div>



        </div>

      </div>
    </div>
  </div>
</div>



