<app-nav-kupac></app-nav-kupac>
<div id="velikiDiv" *ngIf="kreiranaNarudzba==false;">
 <div id="naslovNarudzbe"><h2>Kreiranje narudžbe</h2></div>
  <div class="zaStavke">
    <div class="stavkeNarudzbe1" *ngIf="pregledNarudzbe==false;">
      <button class="krug1" disabled>1</button>
      <h6>Pregled narudžbe</h6>
    </div>
    <div class="stavkeNarudzbe" *ngIf="pregledNarudzbe==true;">
      <button class="krug" disabled>1</button>
      <h6>Pregled narudžbe</h6>
    </div>

    <div class="stavkeNarudzbe1" *ngIf="odabirProdavnice==false && pregledNarudzbe==false;">
      <button class="krug1" disabled>2</button>
      <h6>Odabir prodavnice</h6>
    </div>
    <div class="stavkeNarudzbe" *ngIf="odabirProdavnice==true && pregledNarudzbe==false;">
      <button class="krug" disabled>2</button>
      <h6>Odabir prodavnice</h6>
    </div>
    <div class="stavkeNarudzbe" *ngIf="odabirProdavnice==false && pregledNarudzbe==true;">
      <button class="krug" disabled>2</button>
      <h6>Odabir prodavnice</h6>
    </div>

    <div class="stavkeNarudzbe">
      <button class="krug" disabled>3</button>
      <h6>Zaključivanje narudžbe</h6>
    </div>

  </div>


  <div *ngIf="pregledNarudzbe==true; " >
   <!--<div><h1>Stavke narudzbe(prikazuju se stavke korpe)</h1></div>-->
    <div id="SveStavke">
      <div *ngFor="let x of korpaStavkePodaci" class="jednaStavka">

        <div class="slikaStavka"><img src="{{get_slika_base64_FS(x.slika)}}" class="slikaStavkeSama" alt="stavka"> </div>
        <div class="tekstStavke">
          <p><b>{{x.proizvodIme}}</b> </p>
          <p>Cijena: {{x.cijena}}</p>
          <p>Količina: {{x.kolicina}}</p>
          <p>Veličina: {{x.velicina}}</p>
        </div>
      </div>
      </div>
    <hr>
    <button class="dugmeDalje1" (click)="pregledNarudzbe=false; odabirProdavnice=true;">Dalje</button>
    <br>
  </div>

  <div *ngIf="odabirProdavnice==true;" >
    <h5>Odaberi prodavnicu u kojoj želite preuzeti narudžbu:</h5>
    <p>*narudžba se može preuzeti svakim radnim danom u odabranoj prodavnici</p>
    <div style="width: 20%;">
      <br>
      <select class="form-control" [(ngModel)]="prodId" (click)="ispisi()" value="prodavnicePodaci.length">
        <option *ngFor="let x of prodavnicePodaci" [value]="x.id" >{{x.adresa}}</option>
      </select>
      <!--<mat-form-field appearance="fill">
        <mat-label>Odaberi prodavnicu: </mat-label>
        <mat-select>
          <mat-option *ngFor="let x of prodavnicePodaci" value="x.id">
            {{x.naziv}}
          </mat-option>
        </mat-select>
      </mat-form-field>-->
    </div>
<hr>
<div class="dugmadZaKretanje">
  <button class="dugmeNazad" (click)="pregledNarudzbe=true;odabirProdavnice=false;">Nazad</button>
  <button class="dugmeDalje" (click)="odabirProdavnice=false; zakljucivanjeNarudzbe=true;" [disabled]="prodId==undefined">Dalje</button>
</div>

  </div>


  <div *ngIf="zakljucivanjeNarudzbe==true;">
    <h4 style="text-align: center;">Stavke narudžbe</h4>
    <div id="divTabela">
      <table class="table table-bordered table-primary">
        <thead style="background-color: black;">
        <tr style="background-color: black;">
          <th>Proizvod</th>
          <th>Boja</th>
          <th>Veličina</th>
          <th>Cijena</th>
          <th>Količina</th>
          <th>Total</th>

        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let s of korpaStavkePodaci">
          <td>{{s.proizvodIme}}</td>
          <td>{{s.boja.naziv}}</td>
          <td>{{s.velicina}}</td>
          <td>{{s.cijena}}</td>
          <td>{{s.kolicina}}</td>
          <td>{{s.total}}</td>
        </tr>
        <td colspan="4" ></td>
        <td ><h6>Ukupna cijena:</h6></td>
        <td ><h6>{{korpePodaci[0].total | number:'1.2-2'}}</h6></td>
       <!-- <td style="text-align: right;">Ukupna cijena: {{korpePodaci[0].total}} </td>-->
        </tbody>
      </table>


    </div>
    <!--<div *ngFor="let x of korpaStavkePodaci">
      <li>id: {{x.id}}</li>
      <li>proizvodId: {{x.proizvodId}}</li>
      <li>cijena: {{x.cijena}}</li>
      <li>kolicina: {{x.kolicina}}</li>
      <li>total: {{x.total}}</li>
    </div>
    -->
    <div id="prod">
     <!-- <h6>Odabrana prodavnica je: Prodavnica {{prodId}}</h6>-->
      <h6>Odabrana prodavnica je: {{prodavnicaAdresa[0]?.adresa}} </h6>


    </div>
    <hr>
    <div class="dugmadZaKretanje">
      <button class="dugmeNazad1" (click)="odabirProdavnice=true;zakljucivanjeNarudzbe=false;">Nazad</button>
      <button class="dugmeDalje2" (click)="SveOkoNarudzbe()" >Zaključi narudžbu</button>
    </div>

  </div>

</div>

<div *ngIf="kreiranaNarudzba==true;" id="uspjesnoKreiranaNarudzba">
  <img src="assets/slike/plavaTacnica.png" id="slikaPlavaTacnica" alt="plavaTacnica">
  <h1>Narudžba je uspješno kreirana!</h1>
  <h6 style="cursor: pointer;" (click)="otvoriProfilKupca()">Provjeri status</h6>
</div>
