.slider{
  border:groove;
  width:100%;
  padding:4%;
}

img{
  max-width: 100%;
  height:500px;
}

.carousel-item{
  width:100%;
  height: 100%;
}

.h3-porukaNarudzbe, .h5-porukaNajmanjaKolicina, .h5-porukaPosljednjiProizvodi, .svi_dodani{
  width:100%;
  text-align: center;
}

div#carouselExampleIndicators,#carouselExampleIndicators1 {
  /*background-color: #28a745;*/
  width:90%;
  margin: 0 auto 0 auto;
  text-align: center;
  border:groove;
}

.carousel slide{
  width:50%;
  margin-left: 4%;
}

div.carousel-item.active{
  background-color: white;
}

span.carousel-control-next-icon, span.carousel-control-prev-icon{
  background-color: black;
  border-radius:30px;
}

.carousel-indicators button{
  width:3em;
  padding:1px;
  margin:3px;
}
.carousel-indicators{
  width:100%;
  margin:auto 0 auto 0;
}



.poruka-narudzbe{
  background-color: rgba(237,163,205,0.45);
  width:90%;
  padding: 2%;
  border-radius: 20px;
  margin:3% auto 3% auto;
  color:black;
}

.poruka-posljednjeDodaniProizvodi{
  /*background-color: rgba(30,178,255,0.7);*/
  width:90%;
  padding: 0.5%;
  border-radius: 10px;
  margin:0 auto 0 auto;
  color:black;
}

.poruka-proizvodiNajmanjaKolicina{
  /*background-color: rgba(30,178,255,0.7);*/
  width:90%;
  padding: 0.5%;
  border-radius: 10px;
  margin:0 auto 0 auto;
  color:black;
}

hr{
  width:90%;
  margin: 0 auto 1% auto;
}

.slike{
  width:90%;
  margin:auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 30px;
  justify-content: center;
}

.proizvod-div{
  border:groove;
  width:220px;
  padding:1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slika-okvir{
 /* max-width: 100%;*/
  width: 220px;
  height: 250px;
  border: groove;
  cursor: pointer;
}

.btn-proizvod-detalji{
  width:100%;
  cursor: pointer;
  background-color: black;
  color:white;
}

.btn-proizvod-detalji:hover{
  opacity: 85%;
}

.proizvod-opis, .proizvod-datum, .proizvod-kolicina{
  text-align: center;
}


.okvir-detalji{
  width:50%;
  margin:auto;
  border: groove;
  border-radius: 30px;
  padding: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  top:17%;
  left:25%;
  background-color: #ffd1ea;
}

.btn-ok{
/*  width:15%;
  border: none;
  border-radius: 30px;*/
  width:10%;
  border: none;
  border-radius: 30px;
  margin-left: 90%;
  background-color: black;
  color:white;
}

.btn-stranicaproizvodi{
  width: 100%;
  border:none;
  background-color: #ffd1ea;
  color:blue;
  text-align: end;
}

.btn-ok:hover, .btn-stranicaproizvodi:hover{
  opacity: 50%;
}

.slika-detalji{
  width:100%;
  max-width: 100%;
  height:300px;
  cursor: pointer;
}

.slika-i-detalji{
  display: flex;
  gap:7%;
  align-items: center;
  justify-content: space-between;
  padding:1%;
}

.pregled-slike{
  width:90%;
 /* max-width: 100%;
  height:600px;
  border:dotted;*/
/*  height: auto;*/
  margin:auto;
  position: absolute;
  top:-21%;
  left:5%;
  background-color: white;
  border:groove;
}

.okvir-za-pregled-slike{
  height: 660px;
  width: 90%;
 /* border:solid;*/
  padding:1.5%;
  margin:auto;
  text-align: center;
}

.pregled-slike-okvir{
 /* width:100%;*/
  max-width: 100%;
  height:640px;
  border: groove;
  margin:auto;
}

.btn-x{
  position:absolute;
  top:0;
  right:0;
  border: none;
}

.my-pagination /deep/ .ngx-pagination .current
{
  background-color: pink;
  border-radius: 30px;
}
