<app-navbar-zaposlenik></app-navbar-zaposlenik>


<div class="filteri">
  <div class="pretraga">
    <select [(ngModel)]="statusFilter" (click)="getNarudzbePoStatusu()">
      <option>Sve</option>
      <option>Nova</option>
      <option>Spremna</option>
      <option>Otkazana</option>
      <option>Ponistena</option>
      <option>Preuzeta</option>

    </select>


    <div class="pretraga-naziv">
      <input class="pretrazi-po" type="text" placeholder="pretrazi kupca, zaposlenika, prodavnicu..."
             #pretraga [(ngModel)]="_filter">
      <img class="img-search" src="assets/slike/search.svg">
    </div>

  </div>

  <div class="ukupno-narudzbi">
    <h5>Ukupno narudžbi: {{ukupnoNarudzbi}}</h5>
  </div>

  <!--count kupacID distinct-->
  <div class="ukupno-korisnika">
    <h5>Ukupno kupaca: {{ukupnoKorisnika}}</h5>
  </div>


</div>


<div class="detalji">
  <div class="nova">
    <h6 class="h6-detalji">Ukupno novih: {{obj_ukupnoNarudzbi?.nova}} </h6>
  </div>

  <div class="spremna">
    <h6 class="h6-detalji">Ukupno spremnih:  {{obj_ukupnoNarudzbi?.spremna}} </h6>
  </div>

  <div class="otkazana">
    <h6 class="h6-detalji">Ukupno otkazanih:  {{obj_ukupnoNarudzbi?.otkazana}}</h6>
  </div>
<!--
  <div class="istekla">
    <h6 class="h6-detalji">Ukupno isteklih:  {{obj_ukupnoNarudzbi?.istekla}}</h6>
  </div>
-->
  <div class="preuzeta">
    <h6 class="h6-detalji">Ukupno preuzetih:  {{obj_ukupnoNarudzbi?.preuzeta}}</h6>
  </div>

  <div class="odgodjena">
    <h6 class="h6-detalji">Ukupno poništenih:  {{obj_ukupnoNarudzbi?.ponistena}}</h6>
  </div>

</div>


<div class="sredina">


  <div class="tabela">
    <table class="table">
      <thead >
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Kupac</th>
        <th scope="col">Datum kreiranja</th>
<!--        <th scope="col">Datum preuzimanja</th> -->
        <th scope="col">Suma</th>
        <th scope="col">Ukupno proizvoda</th>
        <th scope="col">Zaposlenik</th>
        <th scope="col">Prodavnica</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let n of getFilterNarudzbe() | paginate:
   {
        itemsPerPage: 5,
        currentPage:page,
        totalItems:totalLength
        }">  <!--ngFor let n of narudzbe-->
        <th scope="row">{{n.id}}</th>
        <td>{{n.kupacNaziv}}</td>
        <td>{{formatDatum(n.datumKreiranja)}}</td>
   <!--     <td>{{formatDatum(n.datumPreuzimanja)}}</td> -->
        <td>{{n.ukupno}}</td>
        <td>{{n.ukupnoProizvoda}}</td>
        <td>{{n.evidentirao}}</td>
        <td>{{n.nazivProdavnice}}</td>
        <td><h6><b *ngIf="n.status=='Nova'" style="color:#ffc61c"> {{n.status}}</b></h6> <h6 *ngIf="n.status!='Nova'">{{n.status}}</h6></td>
        <td style="color: red"><h5>{{upozorenjeStatus(n)==true? "!":""}}</h5></td>
        <td> </td>
        <td><button (click)="btnDetalji(n)" class="btn-detalji">Vidi detalje</button></td>
      </tr>
      </tbody>

    </table>

    <h6> Ukupno rezultata: {{totalLength}} </h6>

    <pagination-controls class="text-center my-pagination paginacija" (pageChange)="page=$event"></pagination-controls>

    <br>

  </div>



</div>


