<app-navbar-zaposlenik></app-navbar-zaposlenik>


<div class="filteri">
  <div class="pretraga">
    <select [(ngModel)]="statusFilter">
      <option>Sve</option>
      <option>Nova</option>
      <option>Spremna</option>
      <option>Otkazana</option>
      <option>Odgođena</option>
      <option>Preuzeta</option>
    </select>


    <div class="pretraga-naziv">
      <input class="pretrazi-po" type="text" placeholder="pretrazi kupca, zaposlenika, prodavnicu..."
             #pretraga [(ngModel)]="_filter">
      <img class="img-search" src="assets/slike/search.svg">
    </div>

  </div>

  <div class="ukupno-narudzbi">
    <h5>Ukupno narudžbi: {{ukupnoNarudzbi}}</h5>
  </div>

  <!--count kupacID distinct-->
  <div class="ukupno-korisnika">
    <h5>Ukupno kupaca: {{ukupnoKorisnika}}</h5>
  </div>


</div>


<br>

<div class="sredina">

  <div class="tabela">
    <table class="table">
      <thead >
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Kupac</th>
        <th scope="col">Datum kreiranja</th>
        <th scope="col">Datum preuzimanja</th>
        <th scope="col">Suma</th>
        <th scope="col">Ukupno proizvoda</th>
        <th scope="col">Status</th>
        <th scope="col">Zaposlenik</th>
        <th scope="col">Prodavnica</th>
        <th scope="col"></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let n of getFilterNarudzbe() | paginate:
   {
        itemsPerPage: 4,
        currentPage:page,
        totalItems:totalLength
        }">  <!--ngFor let n of narudzbe-->
        <th scope="row">{{n.id}}</th>
        <td>{{n.kupacNaziv}}</td>
        <td>{{formatDatum(n.datumKreiranja)}}</td>
        <td>{{formatDatum(n.datumPreuzimanja)}}</td>
        <td>{{n.ukupno}}</td>
        <td>{{n.ukupnoProizvoda}}</td>
        <td>{{n.status}}</td>
        <td>{{n.evidentirao}}</td>
        <td>{{n.nazivProdavnice}}</td>
        <td></td>
        <td> </td>
        <td><button (click)="btnDetalji(n.id)" class="btn-detalji">Vidi detalje</button></td>
      </tr>
      </tbody>
    </table>

    <pagination-controls class="text-center my-pagination paginacija" (pageChange)="page=$event"></pagination-controls>

  </div>

  <br>

</div>


