<app-navbar-admin></app-navbar-admin>

<div class="sredina">
  <div class="add">

    <div class="add-kat">
    <!--  <input class="input-kat" type="text" placeholder="upišite naziv kategorije"
           [(ngModel)]="nova_kategorija.naziv"  #nazivKat >
      <div class="btn-kat">
        <button class="submit-kat" (click)="dodajKategoriju()">Spasi</button>
      </div>
      <h6>Dodaj kategoriju</h6>
      -->

      <button class="submit-kat" (click)="dodajKategoriju()">Dodaj kategoriju</button>
    </div>

    <div class="add-podkat">

  <!--    <div class="mb-3">
        <label class="form-label">Izaberite kategoriju</label>
        <select class="form-control" #katId [(ngModel)]="nova_podkategorija.kategorijaID">
          <option *ngFor="let k of podaci_kategorije" [value]="k.id">{{k.naziv}}</option>
        </select>

      </div>

      <input class="input-podkat" type="text" placeholder="upišite naziv podkategorije"
             #nazivPodkat [(ngModel)]="nova_podkategorija.naziv">



      <div class="btn-podkat">
        <button class="submit-podkat" (click)="dodajPodkategoriju()">Spasi</button>
      </div>

      <h6>Dodaj podkategoriju</h6>
-->

      <button class="submit-podkat" (click)="dodajPodkategoriju()">Dodaj podkategoriju</button>
    </div>
  </div>

  <br>

  <div class="pretraga">

    <div class="input-pretraga-div">
      <input type="text" class="input-pretraga" #pretraga placeholder="pretražite podkategoriju ili kategoriju"
             [ngStyle]="{'text-align':'center'}" [(ngModel)]="naziv_filter"
             (change)="trenutnaStr=1; getPodkategorijePaged()">
      <img class="img-search" src="assets/slike/search.svg" (click)="kliknuoPretrazi=true">
    </div>



    <table class="table">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Naziv podkategorije</th>
        <th scope="col">Naziv kategorije</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>  <!--
      getFilterPodkategorije(pretraga.value) | paginate:
   {
        itemsPerPage: 5,
        currentPage:page,
        totalItems:totalLength
        }
      -->
      <tr *ngFor="let p of podkatPaged?.podaci">
        <th scope="row">{{p.id}}</th>
        <td>{{p.naziv}}</td>
        <td>{{p.kategorijaOpis}}</td>
        <td> <img src="assets/slike/pencil-square.svg" (click)="urediPodkat(p)"></td>
        <td> <img src="assets/slike/x-square.svg" (click)="obrisiPodkat(p)"> </td>
      </tr>

      </tbody>


    </table>
<!--
    <pagination-controls class="text-center my-pagination" (pageChange)="page=$event"></pagination-controls>
-->
    <!--
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" (click)="uslovPrethodnaPodkat();">Prethodna</a></li>
        <li class="page-item"><a class="page-link" (click)="trenutnaStr=1; getPodkategorijePaged();">{{broj1p}}</a></li>
        <li class="page-item"><a class="page-link" (click)="trenutnaStr=2; getPodkategorijePaged();">{{broj2p}}</a></li>
        <li class="page-item"><a class="page-link" (click)="trenutnaStr=3; getPodkategorijePaged();">{{broj3p}}</a></li>
        <li class="page-item"><a class="page-link" (click)="trenutnaStr=4; getPodkategorijePaged();">{{broj4p}}</a></li>
        <li class="page-item"><a class="page-link" (click)="uslovSljedecaPodkat(); ">Sljedeća</a></li>
      </ul>
    </nav>
--->
    <div class="stranice">
       <button class="pocetak-kraj" (click)="trenutnaStr=1; getPodkategorijePaged();"><<</button>
          <button class="prethodna-sljedeca" (click)="uslovPrethodnaPodkat();"> < </button>
             Stranica {{trenutnaStr}} od {{podkatPaged?.ukupnoStranica}}
          <button class="prethodna-sljedeca" (click)="uslovSljedecaPodkat()"> > </button>
      <button class="pocetak-kraj" (click)="trenutnaStr=podkatPaged?.ukupnoStranica; getPodkategorijePaged();"> >> </button>
    </div>



  </div>


<br><br>


  <div class="pretraga">


    <div class="input-pretraga-div">
      <input type="text" class="input-pretraga" #pretraga2 placeholder="pretražite kategoriju"
             [ngStyle]="{'text-align':'center'}" [(ngModel)]="naziv_kat_filter"
      (change)="trenutnaStr_kat=1; getKategorijePaged();">
      <img class="img-search" src="assets/slike/search.svg" (click)="kliknuoPretrazi=true">
    </div>



    <table class="table">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Naziv kategorije</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <!--
      getFilterKategorije(pretraga2.value)| paginate:
   {
        id:'pagination2',
        itemsPerPage: 5,
        currentPage:page_2,
        totalItems:totalLenght2
        }
      -->
      <tr *ngFor="let p of katPaged?.podaci">
        <th scope="row">{{p.id}}</th>
        <td>{{p.naziv}}</td>
        <td> <img src="assets/slike/pencil-square.svg" (click)="uredi_kat(p)"></td>
        <td> <img src="assets/slike/x-square.svg" (click)="obrisiKat(p)"> </td>
      </tr>

      </tbody>

    </table>
<!--
    <pagination-controls id="pagination2" class="text-center my-pagination" (pageChange)="page_2=$event"></pagination-controls>
-->

    <!--
    <nav id="kategorije" aria-label="Page navigation example">
      <ul id="kategorije_pag" class="pagination justify-content-center" >
        <li class="page-item"><a class="page-link" (click)="trenutnaStr_kat!=1 ? trenutnaStr_kat=trenutnaStr_kat-1 : trenutnaStr_kat=1; getKategorijePaged();">Prethodna</a></li>
        <li class="page-item"><a class="page-link" (click)="trenutnaStr_kat=1; getKategorijePaged();">1</a></li>
        <li class="page-item"><a class="page-link" (click)="trenutnaStr_kat=2; getKategorijePaged();">2</a></li>
        <li class="page-item"><a class="page-link" (click)="trenutnaStr_kat=3; getKategorijePaged();">3</a></li>
        <li class="page-item"><a class="page-link" (click)="trenutnaStr_kat==katPaged?.ukupnoStranica?trenutnaStr_kat=katPaged?.ukupnoStranica : trenutnaStr_kat=trenutnaStr_kat+1; getKategorijePaged();">Sljedeća</a></li>
      </ul>
    </nav>
-->

    <div class="stranice">
      <button class="pocetak-kraj" (click)="trenutnaStr_kat=1; getKategorijePaged();"><<</button>
        <button class="prethodna-sljedeca" (click)="uslovPrethodnaKat();"> < </button>
          Stranica {{trenutnaStr_kat}} od {{katPaged?.ukupnoStranica}}
        <button class="prethodna-sljedeca" (click)="uslovSljedecaKat()"> > </button>
      <button class="pocetak-kraj" (click)="trenutnaStr_kat=katPaged?.ukupnoStranica; getKategorijePaged();"> >> </button>
    </div>



  </div>


</div>



<div *ngIf="this.nova_podkategorija!=null" class="modal fade show" id="exampleModalLive1" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel1" > {{naslov}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="this.nova_podkategorija=null; getPodkategorije();"></button>
      </div>
      <div class="modal-body">



        <div class="mb-3" [class.has-error]="(nazivControll.invalid && nazivControll.touched) || postojiPodkategorija(nazivControll.value)">
          <label class="form-label">Naziv podkategorije:</label>
          <input type="text" required pattern="^[A-Z][a-zA-Z\d\s]*$" [(ngModel)]="nova_podkategorija.naziv"
                 minlength="3" #nazivControll="ngModel" class="form-control" placeholder="Naziv" >

          <span class="help-block" *ngIf="nazivControll.invalid && nazivControll.touched">
            Ovo polje je obavezno. Prvo slovo mora biti veliko. Najmanje 3 karaktera.
          </span>

          <span class="help-block" *ngIf="postojiPodkategorija(nazivControll.value)">
            Ne smijete dodavati naziv koji već postoji.
          </span>
        </div>


        <div class="mb-3" [class.has-error]="katIdControll.invalid && katIdControll.touched">
          <label class="form-label">Kategorija:</label>
          <select required #katIdControll="ngModel" class="form-control" [(ngModel)]="nova_podkategorija.kategorijaID">
            <option *ngFor="let s of podaci_kategorije" [value]="s.id">{{s.naziv}}</option>
          </select>

          <span class="help-block" *ngIf="katIdControll.invalid && katIdControll.touched">
           Ovo polje je obavezno.
          </span>
        </div>


      </div>
      <div class="modal-footer">
        <button [disabled]="!(nazivControll.valid && katIdControll.valid && !postojiPodkategorija(nazivControll.value))" type="button"
                class="btn" (click)="spasi_podkat();">Spasi promjene</button>
      </div>
    </div>
  </div>
</div>





<div *ngIf="this.nova_kategorija!=null" class="modal fade show" id="exampleModalLive2" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel2" > Izmjena podataka </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="nova_kategorija=null; getKategorije();"></button>
      </div>
      <div class="modal-body">



        <div class="mb-3" [class.has-error]="(nazivControll.invalid && nazivControll.touched) || postojiKategorija(nazivControll.value)">
          <label class="form-label">Naziv kategorije:</label>
          <input type="text" required pattern="^[A-Z][a-zA-Z\d\s]*$" [(ngModel)]="nova_kategorija.naziv"
                 minlength="3" #nazivControll="ngModel" class="form-control" placeholder="Naziv" >

          <span class="help-block" *ngIf="nazivControll.invalid && nazivControll.touched">
            Ovo polje je obavezno. Prvo slovo mora biti veliko. Najmanje 3 karaktera.
          </span>

          <span class="help-block" *ngIf=" postojiKategorija(nazivControll.value)">
            Ne smijete dodavati naziv koji već postoji.
          </span>

        </div>


      </div>
      <div class="modal-footer">
        <button [disabled]="!(nazivControll.valid && !postojiKategorija(nazivControll.value))" type="button"
                class="btn" (click)="spasi_kat()">Spasi promjene</button>
      </div>
    </div>
  </div>
</div>


<!--

<div class="warning-kat" >

  <img src="assets/slike/warning.png" style="width: 70px; height: 70px;">
  <h5 class="poruka-kat">
    Brisanjem ovog podatka brišete i sve proizvode koji sadrže ovaj podatak."
    <br>
    Da li želite izvršiti brisanje?
  </h5>
  <div class="dugmad-warning">
    <button>Da</button>
    <button>Ne</button>
  </div>

</div>


<div class="warning-podkat">

</div>
-->
