table,tr,td,th{
  border:1px black solid;
  width: 100%;
  margin-top: 1%;
}
#recenzijeNaslov{
  text-align: center;
  margin:2% 10%;
  padding: 1%;
}
thead,th {
  background-color: black;
color: white;
  border-right: 0.3mm  solid grey;
}
tbody{
  background-color: cornflowerblue;
}
.broj{
  margin: 1%;
  color: #070a57;
}




.clicked {
  background-color: #1c7cbb;
  color: #000000;
  font-weight: bold;
}
