<app-navbar-admin></app-navbar-admin>
<div id="recenzijeNaslov">
  <h1 style="text-align: center;">Recenzije</h1>
  <h2>Pogledajte kako se kupcima svidjaju naše prodavnice i proizvodi.</h2>
  <label class="broj">Ukupno komentara: {{getBrojKom()}}</label>
  <label class="broj">Ukupno ocjena prodavnica: {{getBrojOcjena()}}</label>
  <label class="broj">Ukupno ocjena proizvoda: {{getBrojOcjenaProizvoda()}}</label>
</div>

<div style="width: 80%; margin: 2% 10%;">


<div class="accordion faq-accordian" id="faqAccordion">
  <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
    <div class="card-header" id="headingOne">
      <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Prikaz komentara<span class="lni-chevron-up"></span></h6>
    </div>
    <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
      <div class="card-body">



        <div style="margin: 2% 5%">
         <!-- <label>Filter prodavnica: </label>
          <input type="text" [(ngModel)]="pretraga" style="margin-left:1% ">
          -->
          <div id="divTabela">
            <table class="table table-warning">
              <thead style="background-color: black;">
              <tr style="background-color: black;">

                <th>Opis</th>
                <th>Kupac</th>
                <th>Prodavnica</th>
                <th>Datum</th>
                <th>Akcija</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let s of get_podaci_filtrirano()">

                <td >{{s.opis}}</td>
                <td>{{s.kupac}}</td>
               <td>{{s.prodavnica}}</td>
                <td>{{s.datumKreiranja | date:"dd-MM-yyyy"}}</td>
                <td>
                  <button (click)="brisi_komenatar(s)">Obrisi</button>
                </td>
              </tr>
              </tbody>
            </table>



            <div id="paginacija" *ngIf="komentariPodaci?.length>0">
              <button (click)="prevPage()" [disabled]="page === 1" class="lijevo_desno">Previous</button>
              <ng-container *ngFor="let pageNumber of getPageNumbers()">
                <button (click)="goToPage(pageNumber)" [ngClass]="{'clicked': page === pageNumber}"
                        [disabled]="page === pageNumber" class="brojevi_paginacija">{{ pageNumber }}</button>
              </ng-container>
              <button (click)="nextPage()" [disabled]="page === totalPages" class="lijevo_desno" style="padding-left: 2%; padding-right: 2%">Next</button>
            </div>



          </div>
        </div>







      </div>





    </div>
    </div>
  </div>

  <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
    <div class="card-header" id="headingTwo">
      <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Prikaz ocjena prodavnica<span class="lni-chevron-up"></span></h6>
    </div>
    <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
      <div class="card-body">


        <label>Filter prodavnica: </label>
        <input type="text" [(ngModel)]="pretragaOcjena" style="margin-left:1% ">
        <div id="divTabela2" style="margin:2% 5%;">
          <table class="table table-warning">
            <thead style="background-color: black;">
            <tr style="background-color: black;">

              <th>Ocjena</th>
              <th>Kupac</th>
              <th>Prodavnica</th>
              <th>Datum</th>
              <th>Akcija</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let s of getOcjene()">

              <td>{{s.ocjena}}</td>
              <td>{{s.kupac}}</td>
              <td>{{s.prodavnica}}</td>
              <td>{{s.datumKreiranja | date:"dd-MM-yyyy"}}</td>
              <td>
                <button (click)="brisi_ocjenu(s)">Obrisi</button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>








      </div>
    </div>
  </div>


  <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
    <div class="card-header" id="headingThree">
      <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Prikaz ocjena proizvoda <span class="lni-chevron-up"></span></h6>
    </div>
    <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqAccordion">
      <div class="card-body">


        <label>Filter proizvoda: </label>
        <input type="text" [(ngModel)]="pretragaOcjenaProizvoda" style="margin-left:1% ">
        <div id="divTabela3" style="margin:2% 5%;">
          <table class="table table-warning">
            <thead style="background-color: black;">
            <tr style="background-color: black;">

              <th>Ocjena</th>
              <th>Kupac</th>
              <th>Proizvod</th>
              <th>Datum</th>
              <th>Akcija</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let s of getOcjeneProizvoda()">

              <td>{{s.ocjena}}</td>
              <td>{{s.kupac}}</td>
              <td>{{s.proizvod}}</td>
              <td>{{s.datumKreiranja | date:"dd-MM-yyyy"}}</td>
              <td>
                <button (click)="brisi_ocjenuProizvoda(s)">Obrisi</button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>











      </div>
    </div>
  </div>


</div>



















