<app-neregistrovan *ngIf="loginInfo().isLogiran==false"></app-neregistrovan>
<div id="pravila">
  <h2 id="izjavaprivatnostNaslov">IZJAVA O PRIVATNOSTI</h2>
  <p>

    Luna se obvezuje da neće zloupotrebljavati osobne podatke iz obrasca narudžbe. Osobnim podacima smatraju se svi podaci
    kojima se utvrđuje identitet kupca (primjerice ime i prezime, e-mail adresa, adresa stanovanja i sl.).

    Luna neće dostavljati niti razotkriti osobne podatke kupca trećoj osobi, osim u slučajevima u kojima tako izričito
    propisuje zakon te u slučajevima kada je to potrebno za ispunjenje obveza.

    Svi podaci o kupcima se strogo čuvaju i dostupni su samo djelatnicima kojima su ti podaci nužni za obavljanje posla.
    Svi djelatnici Luna i poslovni partneri odgovorni su za poštivanje načela zaštite privatnosti.
    Luna se obavezuje pružati zaštitu osobnim podacima kupaca tako da prikuplja samo osnovne podatke o kupcima koji su nužni
    za ispunjenje obveza.
  </p>
  <p>
    Podaci koji se pristupom na internet stranicu automatski bilježe, a nisu osobni podaci (vrste pretraživača, broj posjeta,
    vrijeme provedeno na stranicama i sl.) Luna ima pravo koristiti isključivo radi ocjene posjećenosti internet
    stranice i radi poboljšanja njenog sadržaja i funkcionalnosti.

    Luna informira kupce o načinu korištenja prikupljenih podataka te redovito daje kupcima mogućnost izbora o upotrebi
    njihovih podataka, uključujući mogućnost odluke žele li ili ne da se njihovo ime ukloni s lista koje se koriste za
    marketinške svrhe.
  </p>
  <p>
    U slučaju promjene bilo kojeg od osobnih podataka (npr. mjesto stanovanja, adresa dostave) koji se evidentiraju prilikom
    registracije, kupac je dužan o promjeni obavijestiti Luna. U slučaju promjene o kojoj nije obaviješten,
    Luna ne odgovara za bilo kakve nedostatke u pogledu narudžbe odnosno isporuke proizvoda.

    Gore navedene odredbe o zaštiti osobnih podataka odnose se isključivo na početnu web stranicu
    web shopa  te na sve stranice unutar uvijek-prirodna.com domene, a ne na vanjske stranice na
    koje upućuju linkovi na luna.com domeni, za koje stranice Luna nije nadležan niti odgovoran te
    za koje stranice luna.com ne prikuplja i ne obrađuje podatke korisnika.

    Osim u slučaju elektronske narudžbe, u drugim slučajevima Luna neće kupcu slati elektronske poruke ako na to kupac nije
    izričito pristao.
  </p>
  <b id="naslovMali">Zaštita osobnih podataka - općenito</b>

  <p>
    Vaša privatnost i sigurnost vaših osobnih podataka su nama važni, zato pratimo načela transparentnosti i postupamo u
    skladu s Općom uredbom o zaštiti osobnih podataka (eng. General Data Protection Regulation – GDPR) i Zakonom o zaštiti
    osobnih podataka.

    Ovim putem vas želimo informirati o tome u koje svrhe prikupljamo i koristimo vaše osobne podatke te kako te postupke
    možete nadzirati i ostvarivati svoja prava.

    Termini "klijent", "korisnik", "vi" i "vaš" primjenjuju se na vas, osobu koja se prijavi na ovu web stranicu i udovolji
    uvjetima poslovanja webshopa, dok se „tvrtka“, "mi", "naše" i "nas" odnosi na Global Retail. Svaka upotreba navedene
    terminologije ili drugih riječi u jednini, množini, velikim slovima i/ili on ili ona smatra se izmjenjivom i stoga označava
    istu.


  </p>
</div>



