<app-nav-kupac *ngIf="loginInfo().isLogiran==true"></app-nav-kupac>


<h4 id="MuskiOdjelNaslov">Muški odjel</h4>
<h3 style="margin: 1%">Proizvodi</h3>

KUPAC ID: {{kupac_id}}
<div id="sve">
  <div id="filteri">
    <div *ngFor="let k of getKategorije()">
      <li style="background-color: #2ecc71">{{k.naziv}}</li>
      <div *ngFor="let p of getPodKategorijeMuskarci(k.id)">
        <li>{{p.naziv}}</li>
      </div>

    </div>
  </div>
  <div id="muskarciProizvodi">
    <div *ngFor="let pr of getMProizvodi()" class="proizvodJedan" >
      <div (click)="prikaziDetaljeProizvoda(pr.id)" style="cursor: pointer;">
        <div class="zaSliku" >
          <img src="assets/slike/suit.png" style="width: 100%">
        </div>

        <div class="tekst" >
          <h3>{{pr.naziv}}</h3>
          <h5>{{pr.cijena}} KM</h5>
        </div>
</div>
        <!--
          <div class="dugmad2" *ngIf="loginInfo().isLogiran==true">
            <button class="dodajUKorpu"  (click)="dodajUKorpu(pr.id)">Dodaj u korpu</button>
            <button class="dodajUFavorite" (click)="dodajUFavorite(pr.id)" >
              <img src="assets/slike/heart_f.png" class="slikasrce"  style="width: 20px;">
            </button>
          </div>
          -->
    </div>
  </div>
</div>

