#muskarciProizvodi{

  width: 90%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
#MuskiOdjelNaslov{
  margin: 1%;
}
.proizvodJedan{

  display: inline;
  width: 98%;
  border: 1px solid gray;
  margin: 2%;
}
#filteri{


}
#porukaDiv{
  float: right;
  width: 45%;
}
#sve{
  width: 90%;
  margin: 1% 5%;
  background-color: lightpink;
  display: flex;
}
.zaSliku{
  width: 100%;
  border: 1px black solid;
  position: relative;
}
.dodajUKorpu{
  width: 100%;
  background-color: black;
  color:white;
  height: 11%;
}
.tekst{
  text-align: center;
}
.favorit{
  width: 50px;
  position: absolute;
  top:3%;
  right: 3%;
}
li{
  list-style: none;
}
#filteri{
  padding: 1%;
}
.dugmad2{
  background-color: firebrick;
  display: flex;
  width: 95%;
  margin: 1% 2%;
}
.dodajUFavorite2{
  width: 15%;
}
.dodajUKorpu2{
   width: 85%;
   background-color: black;
   color:white;

 }
