
.veliki{
  width:90%;
  margin: 1% 5%;
  padding: 1%;


}
.detaljiZaJednog{
  width: 100%;
  display: flex;
}
.dugmad1{
  background-color: firebrick;
  display: flex;
  width: 95%;
  height: 10%;
  margin: 5% 2%;
}
.dodajUFavorite1{
  width: 15%;
}
.dodajUKorpu1{
  width: 85%;
  background-color: black;
  color:white;

}
.slikaDetalja{
width: 40%;
 }
.detaljiTekst{
width: 50%;
  padding: 2%;
  background-color: #f5eac4;
  height: fit-content;
   }
#velicineBiraj{
  padding: 1%;
}
.velicina{
  padding: 2%;
  border: 1px solid grey;
  cursor: pointer;
  margin: 1%;
}
#ocjeneProizvoda{
  cursor: pointer;
  width: 35%;
  margin-left: 65%;
}
#zvjezdice{
  background-color: palevioletred;
}.JednaZvjezdica{
  background-color: purple;
  width: 30px;
  margin: 1%;
 }
.container{
  height: 10%;
}
.checked{
  color: #28a745;
}
.fa-star {
  width: 10px;
  height: 10px;

}


