.veliki{
  width:90%;
  margin: 1% 5%;
  padding: 1%;


}
.detaljiZaJednog{
  width: 100%;
  display: flex;
}
.dugmad1{
  background-color: firebrick;
  display: flex;
  width: 95%;
  height: 10%;
  margin: 5% 2%;
}
.dodajUFavorite1{
  width: 15%;
}
.dodajUKorpu1{
  width: 85%;
  background-color: black;
  color:white;

}
.slikaDetalja{
width: 40%;
 }
.detaljiTekst{
width: 50%;
  padding: 2%;
  background-color: #f5eac4;
   }
