<app-nav-kupac *ngIf="loginInfo().isLogiran==true"></app-nav-kupac>
<app-neregistrovan *ngIf="loginInfo().isLogiran==false"></app-neregistrovan>


<div class="veliki">
  <div *ngFor="let d of getProizvodiDetalji()">

    <div *ngIf="d.id==proizvod_id" class="detaljiZaJednog">
    <!--  <div class="slikaDetalja" *ngFor="let sl of getProizvodislika(d.id)">
        <img src="{{getSlika(sl)}}" style="width: 100%;">
      </div>
      -->
      <div class="slikaDetalja" >
        <img class="slika" src="{{get_slika_base64_FS(d)}}">
      </div>
      <div class="detaljiTekst">
        <h1 style="text-align: center;">Proizvod detalji</h1>
        <h3> Proizvod: {{d.naziv}}</h3>
        <!--<h4> Cijena: {{d.cijena}} KM</h4>-->
        <h3 *ngIf="d.isSpecijalna==false">Cijena: {{d.cijena}} KM</h3>
        <h3 *ngIf="d.isSpecijalna==true">Cijena: {{nadjiCijenu(d.id)}} KM</h3>
        <!--<h3>{{getCijena(d)}} KM</h3>-->
        <h5> Odjel:  {{d.odjelOpis}}</h5>
        <h5> Boja:  {{d.bojaOpis}}</h5>
        <h5> Kategorija: {{d.kategorijaOpis}}</h5>
        <h5> Podkategorija:  {{d.podkategorijaOpis}}</h5>
        <h5> Sezona: {{d.sezonaOpis}}</h5>
        <h5> Kolekcija: {{d.kolekcijaOpis}}</h5>
        <div id="velicineBiraj" *ngIf="loginInfo().isLogiran==true;">
          <br>
          <h5>Veličine:</h5>

          <button *ngFor="let velicina of dostupneVelicine" type="button" class="dugmeVelicine"
          (click)="this.odabranavelicina=velicina;napraviIliNadjiKorpu();">{{ velicina }}</button>

          <!--<label (click)="this.odabranavelicina='XS';napraviIliNadjiKorpu();" class="velicina">XS</label>
          <label (click)="this.odabranavelicina='S';napraviIliNadjiKorpu();"  class="velicina">S</label>
          <label (click)="this.odabranavelicina='M';napraviIliNadjiKorpu();"  class="velicina">M</label>
          <label (click)="this.odabranavelicina='L';napraviIliNadjiKorpu();"  class="velicina">L</label>-->
        </div>
        <br>
        <div class="dugmad1" *ngIf="loginInfo().isLogiran==true" >
          <button class="dodajUKorpu1" *ngIf="odabranavelicina!=undefined" (click)="dodajUKorpu(d,odabranavelicina)" >Dodaj u korpu</button>
          <button class="dodajUKorpu1" *ngIf="odabranavelicina==undefined" disabled style="background-color: rgb(61,61,61)">Dodaj u korpu</button>
          <button class="dodajUFavorite1" (click)="dodajUFavorite(d.id)" *ngIf="isFavorit==false;">
            <img src="assets/slike/heart_f.png" class="slikasrce" style="width: 20px;" >

          </button>
          <button class="dodajUFavorite1" (click)="dodajUFavorite(d.id)" *ngIf="isFavorit==true;" style="background-color: #ee6464;">
            <img src="assets/slike/heart_f.png" class="slikasrce" style="width: 20px;" >

          </button>

        </div>
        <div style="padding: 10%;"></div>
        <p style="margin: 1%;">Ukoliko ne znate koja veličina Vam odgovara, pogledajte naš <a routerLink="/vodiczavelicine">Vodič za veličine</a>.</p>
       <div id="ocjeneProizvoda" (click)="prikaziOcjeneProizvoda()">

           <span class="bi bi-star"></span>
           <span class="bi bi-star"></span>
           <span class="bi bi-star"></span>
           <span class="bi bi-star"></span>
           <span class="bi bi-star"></span>

         <label style="margin-left: 1%"> Ocjene</label>
       </div>
      </div>


    </div>

  </div>

</div>



<div *ngIf="prikaziDiv==true" id="probaDiva" >

  <div id="poruka">
    <img src="assets/slike/heart_tick.png" style="width: 65px;">
    <h4 style="margin: 3% 0%">Proizvod je dodan u Favorite.</h4>
    <button id="dugme1" (click)="skloniDiv()" class="dugmeDelete" >
      <label style="font-size: larger;" class="labelDugme">Nazad</label></button>
    <button  id="dugme2" (click)="vidiFavorite()" class="dugmeDelete" >
      <label class="bi bi-heart" class="labelDugme"></label><label style="font-size: larger;margin-left: 10px" class="labelDugme"> Vidi Favorite</label></button>

  </div>
</div>

<div *ngIf="vecDodanFavorit==true" id="probaDiva1" >

  <div id="poruka1">
    <img src="assets/slike/heart_tick.png" style="width: 65px;">
    <h4 style="margin: 3% 0%">Proizvod je vec  dodan u Favorite.</h4>
    <button id="dugme11" (click)="skloniDiv()" class="dugmeDelete" >
      <label style="font-size: larger;" class="labelDugme">Nazad</label></button>
    <button  id="dugme21" (click)="vidiFavorite()" class="dugmeDelete" >
      <label class="bi bi-heart" id="labelDugme"></label><label style="font-size: larger;margin-left: 10px" class="labelDugme"> Vidi Favorite</label></button>

  </div>
</div>

<div *ngIf="prikaziDivKorpa==true" id="probaDiva2" >

  <div id="poruka2">
    <img src="assets/slike/addToCart.png" style="width: 65px;">
    <h4 style="margin: 3% 0%">Proizvod je dodan u Košaricu.</h4>
    <button id="dugme22" (click)="skloniDiv()" class="dugmeDelete" >
      <label style="font-size: larger;" class="labelDugme">Nazad</label></button>
    <button  id="dugme23" (click)="vidiKorpu()" class="dugmeDelete" >
      <label class="bi bi-cart3" class="labelDugme"></label><label style="font-size: larger;margin-left: 10px" class="labelDugme"> Pogledaj Košaricu</label></button>

  </div>
</div>

<div *ngIf="vecDodanUKorpu==true" id="probaDiva3" >

  <div id="poruka3">
    <img src="assets/slike/addToCart.png" style="width: 65px;">
    <h4 style="margin: 3% 0%">Proizvod je vec  dodan u Košaricu.</h4>
    <button id="dugme112" (click)="skloniDiv()" class="dugmeDelete" >
      <label style="font-size: larger;" class="labelDugme">Nazad</label></button>
    <button  id="dugme211" (click)="vidiKorpu()" class="dugmeDelete" >
      <label class="bi bi-cart3" id="labelDugme1"></label><label style="font-size: larger;margin-left: 10px" class="labelDugme"> Pogledaj Košaricu</label></button>

  </div>
</div>

<div>
  <div *ngFor="let x of favoritiPodaci">
    <li>{{x.id}}</li>
    <li>{{x.proizvodId}}</li>
    <li>{{x.kupacId}}</li>
  </div>
</div>
