
<div id="registracija">
  <h2 style="text-align: center;">Registracija</h2>
  <hr>

 <form >
   <div>
     <label>Ime</label>
     <input type="text"  ngModel #ime_input="ngModel" required pattern="^[A-Z][a-z]{10}$" />
   </div>
   <div class="form_group">
     <label>Prezime</label>
     <input type="text" ngModel #prezime_input="ngModel" required/>
   </div>
   <div class="form_group">
     <label>Email</label>
     <input type="text" ngModel #email_input="ngModel" required/>
   </div>
   <div class="form_group">
     <label>Username</label>
     <input type="text" ngModel #username_input="ngModel" required/>
   </div>
   <div class="form_group">
     <label>Lozinka</label>
     <input type="password" ngModel #lozinka_input="ngModel" required/>
   </div>

 </form>



  <div style="text-align: center;">
    <label style="display: inline">Već imate račun? </label>
    <a routerLink="/prijava" style="display: inline;color:deeppink">Prijava</a>
  </div>

  <button type="button" class="btn btn-primary" (click)="btn_registracija(ime_input,prezime_input,username_input,lozinka_input,email_input)" style="display: block;width: 100%;background-color: hotpink">Registracija</button>
</div>





