
.pretraga-div{
  display: flex;
  width: 40%;
}

.pretraga-div .pretrazi-zaposl{
  width:100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border:groove;
  padding:1%;
}

.pretraga-div .img-search{
  border:groove;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-left: none;
  padding:2%;
  cursor: pointer;
}

.pretraga-div .img-search:hover{
  background-color: #ffebcd;
}

.dodajZaposl{
  width:20%;
 /* margin:2% auto 2% auto;*/
}

.btn-dodajZaposl{
  width:100%;
  border:groove;
  border-radius: 10px;
  padding:2%;
  background-color: #ffebcd;
  color:black;
}

.podaci{
  width:90%;
  margin:2% auto 2% auto;
}

.btn-detalji, .btn-posaljiPoruku{
  width:90%;
  border:groove;
  border-radius: 20px;
  padding:2%;
  /*background-color: #95e4ff;*/
  background-color: #ffebcd;
  color:black;
}

.btn-delete, .btn-edit{
  background-color: rgba(255,21,47,0.82);
  width:100%;
  border:groove;
  border-radius: 20px;
  padding:2%;
}

.btn-edit{
  background-color: #2ecc71;
}

.btn-posaljiPoruku{
  background-color: rgba(246, 175, 184, 0.7);
}

.btn-delete, .btn-edit, .btn-detalji, .btn-posaljiPoruku{
  align-items: center;
}

.btn-delete:hover, .btn-edit:hover, .btn-detalji:hover, .btn-posaljiPoruku:hover{
  opacity: 40%;
}

.pretraga-dodaj{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:90%;
  margin: auto;
}

.ukupno-zaposl{
  border:groove;
  padding:1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:20%;
  border-radius: 10px;
}

.help-block{
  color:red;
}

.my-pagination /deep/ .ngx-pagination .current
{
  background-color: pink;
  border-radius: 30px;
}
