<app-navbar-admin></app-navbar-admin>


<div class="sredina">

 <div class="pretraga-dodaj">
  <div class="pretraga-div">
    <input class="pretrazi-zaposl" type="text" placeholder="pretrazi zaposlenika..."
           #pretraga_zaposl [(ngModel)]="filter">
    <!--getFilterZaposlenike(pretragaZaposl.value)-->
    <img class="img-search" src="assets/slike/search.svg" (click)="kliknuoPretrazi=true;">
                                                                     <!--getPaged()-->
  </div>

  <div class="dodajZaposl">
    <button class="btn-dodajZaposl" (click)="dodajZaposlenika()">Dodaj zaposlenika</button>
  </div>

   <div class="ukupno-zaposl">
     <h5>Ukupno zaposlenika:</h5> <h4>{{zaposlenici?.length}}</h4>
     <!-- [style]="{width:'90%', margin:'auto'}"  -->
   </div>

 </div>



  <div class="podaci">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ime</th>
        <th scope="col">Prezime</th>
        <th scope="col">Email</th>
        <th scope="col">Broj telefona</th>
        <th scope="col">Datum registracije</th>
        <th scope="col">Spol</th>
        <th scope="col">Slika</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody> <!--pagedZaposlenici?.zaposlenici-->
      <tr *ngFor="let z of getFilterZaposlenike(pretraga_zaposl.value) | paginate:
   {
        id:'pag1',
        itemsPerPage: 5,
        currentPage:page1,
        totalItems:totalLength1
        }">
        <th scope="row">{{z.id}}</th>
        <td>{{z.ime}}</td>
        <td>{{z.prezime}}</td>
        <td>{{z.email}}</td>
        <td>{{z.brojTelefona}}</td>
        <td>{{formatDatum(z.datumRegistracije)}}</td>
        <td>{{z.spolOpis}}</td>
        <td><img src="{{get_slika_base64_FS(z)}}" style="display:block;max-width: 100%; height: 70px"></td>
        <td><button class="btn-posaljiPoruku" (click)="sendEmail(z)" title="Obavijesti zaposlenika o njegovim pristupnim podacima">Pošalji poruku</button>
        <br> {{z.jelObavijesten==true?"Obaviješten":""}} </td>
        <td><button class="btn-detalji" (click)="vidiDetaljeZaposlenika(z.id)">Detalji</button></td>
        <td><button class="btn-edit" (click)="urediZaposlenika(z)">Uredi</button> </td>
        <td><button class="btn-delete" (click)="obrisiZaposlenika(z)">Obriši</button> </td>

      </tr>

      </tbody>

    </table>

    <pagination-controls id="pag1" class="text-center my-pagination" (pageChange)="page1=$event"></pagination-controls>


  </div>

</div>

<!--
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" (click)="trenutnaStr!=1 ? trenutnaStr=trenutnaStr-1 : trenutnaStr=1; getPagedZaposlenike();">Prethodna</a></li>
    <li class="page-item"><a class="page-link" (click)="trenutnaStr=1; getPagedZaposlenike();">1</a></li>
    <li class="page-item"><a class="page-link" (click)="trenutnaStr=2; getPagedZaposlenike();">2</a></li>
    <li class="page-item"><a class="page-link" (click)="trenutnaStr=3; getPagedZaposlenike();">3</a></li>
    <li class="page-item"><a class="page-link" (click)="trenutnaStr==pagedZaposlenici?.ukupnoStranica?trenutnaStr=pagedZaposlenici?.ukupnoStranica : trenutnaStr=trenutnaStr+1; getPagedZaposlenike();">Sljedeća</a></li>
  </ul>
</nav>
-->

<div *ngIf="zaposlenik_obj!=null" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">{{naslov}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="zaposlenik_obj=null; getZaposlenike();"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3" [class.has-error]="ime.invalid && ime.touched">
          <label class="form-label">Ime</label>
          <input class="form-control" required pattern="^[A-Z][a-zA-Z]*(\s|-)?[a-zA-Z]*$"
                 #ime="ngModel" placeholder="Ime" [(ngModel)]="zaposlenik_obj.ime" >

          <span class="help-block" *ngIf="ime.invalid && ime.touched">
            Ovo polje je obavezno i mora imati najmanje 3 karaktera (ne uključujući brojeve). Prvo slovo veliko.
          </span>

        </div>

        <div class="mb-3" [class.has-error]="prezime.invalid && prezime.touched">
          <label class="form-label">Prezime</label>
          <input class="form-control" placeholder="Prezime"
                 required pattern="^[A-Z][a-zA-Z]*(\s|-)?[a-zA-Z]*$"
                 #prezime="ngModel"
                 [(ngModel)]="zaposlenik_obj.prezime" />

          <span class="help-block" *ngIf="prezime.invalid && prezime.touched">
             Ovo polje je obavezno i mora imati najmanje 3 karaktera (ne uključujući brojeve). Prvo slovo veliko.
          </span>
        </div>


        <div class="mb-3" [class.has-error]="(jmbg.invalid && jmbg.touched) || (postojiJMBG(jmbg.value) && jel_edit==false)">
          <label class="form-label">JMBG</label>
          <input class="form-control" placeholder="jmbg"
                 required pattern="^\d{13}$"
                 #jmbg="ngModel"
                 [(ngModel)]="zaposlenik_obj.jmbg" />

          <span class="help-block" *ngIf="(jmbg.invalid && jmbg.touched) || (postojiJMBG(jmbg.value) && jel_edit==false)">
             Ovo polje je obavezno i mora imati 13 cifara.
          </span>

        </div>

        <div class="mb-3" [class.has-error]="dtmRod.invalid && dtmRod.touched">
          <label class="form-label">Datum rođenja</label>
          <input type="date" class="form-control"
                 required #dtmRod="ngModel" [(ngModel)]="zaposlenik_obj.datumRodjenja"/>

          <span class="help-block" *ngIf="dtmRod.invalid && dtmRod.touched">
             Ovo polje je obavezno.
          </span>

        </div>


        <div class="mb-3" [class.has-error]="adresa.invalid && adresa.touched">
          <label class="form-label">Adresa stanovanja</label>
          <input class="form-control" placeholder="adresa stanovanja"
                required pattern="^[A-Za-z\s\d.]*$"
                #adresa="ngModel" [(ngModel)]="zaposlenik_obj.adresaStanovanja" />

          <span class="help-block" *ngIf="adresa.invalid && adresa.touched">
             Ovo polje je obavezno. Mora započinjati velikim slovom.
          </span>

        </div>

        <div class="mb-3">
          <label class="form-label">Spol</label>
          <select class="form-control" [(ngModel)]="zaposlenik_obj.spolId">
            <option *ngFor="let o of spolovi" [value]="o.id" > {{o.naziv}} </option>
          </select>
        </div>

        <div class="mb-3" [class.has-error]="(tel.invalid && tel.touched) || postojiTel(tel.value)">
          <label class="form-label">Broj telefona</label>
          <input class="form-control" placeholder="062333333 ili 0601111111"
                 #tel="ngModel" required pattern="^((062[0-9]{6})|(060[0-9]{7}))$"
                 [(ngModel)]="zaposlenik_obj.brojTelefona"/>

          <!--    required pattern="^[0-9]{3}(\/|-|\s)[0-9]{3}(-|\s)[0-9]{3}$"-->

          <span class="help-block" *ngIf="(tel.invalid && tel.touched) || postojiTel(tel.value)">
             Unesite unikatnu vrijednost u ispravnom formatu.
          </span>

        </div>

        <div class="mb-3" [class.has-error]="(email.invalid && email.touched) || (postojiMail(email.value) && jel_edit==false)">
          <label class="form-label">Email</label>
          <input class="form-control" placeholder="adil@gmail.com"
                 required pattern="^[a-z]{1,15}\.?[a-z]*?[0-9]*?@gmail.com$"
                 #email="ngModel"
                 [(ngModel)]="zaposlenik_obj.email" />

          <span class="help-block" *ngIf="(email.invalid && email.touched) || (postojiMail(email.value) && jel_edit==false)">
             Ovo polje je obavezno i ne moze imati vec potojece vrijednosti.
          </span>

        </div>

        <div class="mb-3" [class.has-error]="dtmZaposl.invalid && dtmZaposl.touched">
          <label class="form-label">Datum zaposlenja</label>
          <input type="date" required class="form-control"
                 placeholder="datum zaposlenja" #dtmZaposl="ngModel"
                 [(ngModel)]="zaposlenik_obj.datumZaposlenja" />

          <span class="help-block" *ngIf="dtmZaposl.invalid && dtmZaposl.touched">
             Ovo polje je obavezno.
          </span>

        </div>

        <!--
        <div class="mb-3">
          <label class="form-label">Datum otkaza</label>
          <input type="date" class="form-control" placeholder="datum otkaza" [(ngModel)]="zaposlenik_obj.datumOtkaza" />
        </div>
        -->

        <div class="mb-3">
          <label class="form-label">Radi u</label>
          <select class="form-control" [(ngModel)]="zaposlenik_obj.prodavnicaId">
            <option *ngFor="let o of prodavnice" [value]="o.id" > {{o.naziv}} </option>
          </select>
        </div>

        <hr>

        <div class="mb-3" [class.has-error]="(korIme.invalid && korIme.touched) && (postojiKorIme(korIme.value) && jel_edit==false)">
          <label class="form-label">Korisničko ime</label>
          <input class="form-control" placeholder="korisničko ime" [value]="jel_edit? zaposlenik_obj.username : ''"
                 #korIme="ngModel" required pattern="^[a-zA-Z]{3}[a-zA-Z]{0,}$"
                 [(ngModel)]="zaposlenik_obj.username" [disabled]="jel_edit"/>

          <span class="help-block" *ngIf="(korIme.invalid && korIme.touched) || (postojiKorIme(korIme.value) && jel_edit==false)">
             Ovo polje je obavezno i ne smije imati vrijednost koja već postoji. Minimalno 3 slova. Bez drugih znakova.
          </span>

        </div>

        <div *ngIf="jel_edit==false" class="mb-3" [class.has-error]="loz.invalid && loz.touched">
          <label class="form-label">Lozinka</label>
          <input type="password" class="form-control" placeholder="lozinka"
                 required pattern="^[a-zA-Z\d\s!#$%&=@]{3,}$" [disabled]="jel_edit"
                 #loz="ngModel" [(ngModel)]="zaposlenik_obj.lozinka"/>

          <span class="help-block" *ngIf="(loz.invalid && loz.touched)">
             Ovo polje je obavezno
          </span>

        </div>

        <div class="mb-3"  *ngIf="jel_edit==false" [class.has-error]="ponovo_loz!==zaposlenik_obj.lozinka && lozPonovo.touched && lozPonovo.invalid && jel_edit==false">
          <label class="form-label">Ponovi lozinku</label>
          <input type="password" class="form-control" [disabled]="jel_edit"
                 required #lozPonovo="ngModel" [(ngModel)]="ponovo_loz"
                 placeholder="lozinka" />

          <span class="help-block" *ngIf="ponovo_loz!==zaposlenik_obj.lozinka && jel_edit==false">
             Ovo polje je obavezno i mora imati istu vrijednost kao prethodno.
          </span>

        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                [disabled]="!jelDozvoljenSave(ime,prezime,jmbg,dtmRod,adresa,email,tel,dtmZaposl,korIme)"
                (click)="snimiDugme()" >Snimi</button>
      </div>
    </div>
  </div>
</div>


<!--

<div *ngIf="jel_edit==true" class="modal fade show" id="exampleModalLive1" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel1">{{naslov}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="zaposlenik_obj=null; jel_edit=false; getZaposlenike();"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3" [class.has-error]="ime.invalid && ime.touched">
          <label class="form-label">Ime</label>
          <input class="form-control" required pattern="^[A-Z][a-zA-Z]*(\s|-)?[a-zA-Z]*$"
                 #ime="ngModel" placeholder="Ime" [(ngModel)]="zaposlenik_obj.ime" >

          <span class="help-block" *ngIf="ime.invalid && ime.touched">
            Ovo polje je obavezno i mora imati najmanje 3 karaktera (ne uključujući brojeve). Prvo slovo veliko.
          </span>

        </div>

        <div class="mb-3" [class.has-error]="prezime.invalid && prezime.touched">
          <label class="form-label">Prezime</label>
          <input class="form-control" placeholder="Prezime"
                 required pattern="^[A-Z][a-zA-Z]*(\s|-)?[a-zA-Z]*$"
                 #prezime="ngModel"
                 [(ngModel)]="zaposlenik_obj.prezime" />

          <span class="help-block" *ngIf="prezime.invalid && prezime.touched">
             Ovo polje je obavezno i mora imati najmanje 3 karaktera (ne uključujući brojeve). Prvo slovo veliko.
          </span>
        </div>

        <hr>


        <div class="mb-3" [class.has-error]="adresa.invalid && adresa.touched">
          <label class="form-label">Adresa stanovanja</label>
          <input class="form-control" placeholder="adresa stanovanja"
                 required pattern="^[A-Za-z\s\d]*$"
                 #adresa="ngModel" [(ngModel)]="zaposlenik_obj.adresaStanovanja" />

          <span class="help-block" *ngIf="adresa.invalid && adresa.touched">
             Ovo polje je obavezno. Mora započinjati velikim slovom.
          </span>

        </div>


        <div class="mb-3">
          <label class="form-label">Spol</label>
          <select class="form-control" [(ngModel)]="zaposlenik_obj.spolId">
            <option *ngFor="let o of spolovi" [value]="o.id" > {{o.naziv}} </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Radi u</label>
          <select class="form-control" [(ngModel)]="zaposlenik_obj.prodavnicaId">
            <option *ngFor="let o of prodavnice" [value]="o.id" > {{o.naziv}} </option>
          </select>
        </div>

        <hr>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                [disabled]="!jelDozvoljenSaveEdit(ime,prezime,adresa)"
                (click)="snimiDugme()" >Snimi</button>
      </div>
    </div>
  </div>
</div>



-->
