
<nav>
  <div id="kat" style="display: inline; cursor: pointer;" >
    <li (click)="prikaziZene()">Zene<img src="assets/slike/dress.png" title="Zenski odjel" style="width: 40px;"></li>
    <li (click)="prikaziMuskarce()">Muskarci<img src="assets/slike/suit.png" title="Muski odjel" style="width: 40px; " ></li>

  </div>
  <div id="desno" style="display: inline">
    <li style="padding-right: 42%;padding-left: 30%"></li>
   <!-- <li ><input  type="text" value="Search" style="padding-left: 1%"></li>-->


    <li (click)="idiNaPretragu()"><img src="assets/slike/lupa1.png" ></li>
    <li (click)="prikaziPrijava()"><img src="assets/slike/login.png" ></li>
    <li ><img src="assets/slike/heart_f.png"a title="Favoriti" ></li>
    <li ><img src="assets/slike/cartt.png" title="Košarica"></li>
   <!-- <li (click)="prikaziFavorite()"><img src="assets/slike/heart_f.png"a title="Favoriti" ></li>
    <li (click)="prikaziKosaricu()"><img src="assets/slike/cartt.png" title="Košarica"></li>-->
  </div>


</nav>
<hr style="margin-bottom: 0%" >
<img  *ngIf="potvrda==false;" src="assets/slike/copy.jpg" style="width: 100%;">
