li{
  display: inline;
  padding-left: 1%;
cursor: pointer;
}
img{
  width: 30px;

}
#prikazMKat,#prikazZKat{
  background-color: white;
  position: absolute;
  width: 50%;
}
.slikaNaPocetnoj{
  width: 100%;
  margin: auto;
  /*height: 100%;*/
}
.velikiDiv{
  display: flex;
  width: 100%;
}
.jednaSlikaDiv{
  width: 50%;
margin: auto;
  text-align: center;
  cursor: pointer;
}
